<nav class="navbar navbar-fixed-top noscrollActive noscroll" role="navigation">
    <ng-include src="'includes/header.html'"></ng-include>
</nav>

<!-- Page Content -->
<header class="banner contact">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1>Contact Us</h1>
            </div>
        </div>
    </div>
</header>

<ol class="breadcrumb container">
    <li><a href="#/">Home</a></li>
    <li class="active">Contact Us</li>
</ol>

<section class="contactus">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2 class="hidden-xs">Please call us or use the email form provided.</h2>
                <h2 class="visible-xs-block">Contact Us.</h2>
            </div>
            <div class="col-sm-4 focus text-center">
                <div class="border-bottom">
                    <h4>In the USA please call:</h4>
                    <h3><cc>(305) 358-9995</cc></h3>
                    <p class="smaller"><span class="smaller">(Hours: ??am to ??pm EST)</span></p>
                </div>
                <h4>In Europe please call:</h4>
                <h3><cc>(33-1) 5643-3940</cc></h3>
                <p class="smaller"><span class="smaller">(Hours: ??am to ??pm EST)</span></p>
            </div>
            <div class="col-sm-8 col-no-gutter">
                <form role="form" method="POST" action="#">
                    <div class="row">
                        <div class="form-group col-md-4">
                            <label for="input1">Name:</label>
                            <input type="text" name="contact_name" class="form-control" id="input1">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="input2">Email:</label>
                            <input type="email" name="contact_email" class="form-control" id="input2">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="input3">Phone Number:</label>
                            <input type="phone" name="contact_phone" class="form-control" id="input3">
                        </div>
                        <div class="clearfix"></div>
                        <div class="form-group col-md-12">
                            <label for="input4">Message:</label>
                            <textarea name="contact_message" class="form-control" rows="4" id="input4"></textarea>
                        </div>
                        <div class="form-group col-md-12">
                            <input type="hidden" name="save" value="contact">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
        <!-- /.row -->
    </div><!-- /.container -->


    <div class="container border-top">
        <div class="row">
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-12 col-no-padding">
                        <div id="mapUS"></div>
                    </div>
                    <div class="col-sm-12">
			    	    <h2>U.S.A. Headquarters</h2>
                        <div class="row">
                            <div class="col-xs-6 col-sm-12 col-md-6">
                                <address>
                			    	<p><strong><c>LEX International Law Firm</c></strong> <br>
                			    	International Place <br>
                			    	100 S.E. 2nd St. #2222-B <br>
                			    	Miami, Florida 33131</p>
                 		    	</address>
                            </div>
                            <div class="col-xs-6 col-sm-12 col-md-6 smaller">
            			    	<p><span class="field-name">Tel:</span> (305) 358-9995</p>
            			    	<p><span class="field-name">Fax:</span> (305) 358-9997</p>
            			    	<p><cc><span class="field-name">Email:</span> <span class="smaller">lex@lex-international.com</span></cc></p>
                            </div>
                        </div>
           			</div>
                </div>
   			</div>

            <div class="col-sm-6 contact">
                <div class="row">
                    <div class="col-sm-12 col-no-padding">
                        <div id="mapFR"></div>
                    </div>
                    <div class="col-sm-12">
        			    <h2>In Europe</h2>
                        <div class="row">
                            <div class="col-xs-6 col-sm-12 col-md-6">
                                <address>
                			    	<p><strong><c>LEX International Law Firm</c></strong> <br>
                			    	Cabinet EJPC – 4th Floor <br>
                			    	112 Boulevard Haussmann <br>
                			    	Paris, France 75008 Europe</p>
                 		    	</address>
                            </div>
                            <div class="col-xs-6 col-sm-12 col-md-6 smaller">
            			    	<p><span class="field-name">Tel:</span> (+33-1) 5643-3940</p>
            			    	<p><span class="field-name">Fax:</span> (+33-1) 5643-3943</p>
                            </div>
                        </div>
                    </div>
                </div>
   			</div>
        </div>
    </div>
</section>














