<nav class="navbar navbar-fixed-top noscrollActive noscroll" role="navigation">
    <ng-include src="'includes/header.html'"></ng-include>
</nav>

<header>
    <div class="banner home">
        <video muted autoplay loop poster="">
            <source src="assets/market.mp4" type="video/mp4">
            <source src="" type="video/webm">
            <source src="" type="video/ogg">
        </video>
        <div class="shade">
            <div class="container">
                <h1>LEX International</h1>
                <p class="kanit large">We address complex transaction, business and <c>investment matters</c> nationally and internationally.</p>
            </div>
        </div>
    </div>
</header>

<section class="home">
    <div class="container headline">
        <div class="row">
            <div class="col-sm-12 col-md-10 col-md-offset-1 text-center">
                <p class="caption">Focusing on the jurisdictions of Europe and North America, we offer expertise legal services</c> to large or small enterprises, start-up businesses, investors and entrepreneurs engaged in international transactions, businesses and <c>investments world-wide</c>.</p>
            </div>
        </div>
        <div class="row focus">
            <div class="col-sm-12 text-center">
                <h2>Our Legal Services</h2>
                <div class="gutter">
                    <ul class="list-unstyled third-width black-links">
                        <li><p><a href="#/practice_areas#practice02">Corporation Structuring</a></p></li>
                        <li><p><a href="#/practice_areas#practice03">Business &amp; Commercial</a></p></li>
                        <li><p><a href="#/practice_areas#practice04">Taxation</a></p></li>
                        <li><p><a href="#/practice_areas#practice05">Investment &amp; Security</a></p></li>
                        <li><p><a href="#/practice_areas#practice06">Real Estate</a></p></li>
                        <li><p><a href="#/practice_areas#practice07">Estate &amp; Asset Planning</a></p></li>
                        <li><p><a href="#/practice_areas#practice08">Government Relations</a></p></li>
                        <li><p><a href="#/practice_areas#practice09">Immigration</a></p></li>
                        <li><p><a href="#/practice_areas#practice10">International Notarial</a></p></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="headline background investment hidden-xs">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-8 col-sm-offset-4">
                    <!-- INVESTMENT BANNER -->
                    <p class="caption">We provide legal services to various investment vehicles such as
                    stocks, bonds, mortgages, asset-backed arrangements, private offerings, <c>funds and others</c>.</p>
                    <span class="cta"><a href="#/practice_areas">View Our Practices</a></span></p>
               </div>
            </div>
        </div>
    </div>

    <div class="container black-links">
        <div class="row">

            <div class="col-sm-6 col-lg-4">
                <div class="image image-expand">
                    <img class="img-responsive visible-mibile" src="assets/homePrincipalUSA.jpeg">
                </div>
                <h2 class="smaller">Principal <c>US Attorneys</c></h2>
                <ul class="chevron">
                    <li><p><my-customer info="profile1" type="link-home"></my-customer></p></li>
                    <li><p><my-customer info="profile2" type="link-home"></my-customer></p></li>
                    <li><p><my-customer info="profile3" type="link-home"></my-customer></p></li>
                    <li><p><my-customer info="profile5" type="link-home"></my-customer></p></li>
                    <li><p><my-customer info="profile4" type="link-home"></my-customer></p></li>
                </ul>
            </div>

            <div class="col-sm-6 col-lg-4 col-lg-push-4">
                <div class="image image-expand">
                    <img class="img-responsive visible-mibile" src="assets/homePrincipalINTL.jpeg">
                </div>
                <h2 class="smaller">Principal Int'l Network Attorneys</h2>
                <ul class="chevron">
                    <li><p><my-customer info="profile10" type="link-home"></my-customer></p></li>
                    <li><p><my-customer info="profile13" type="link-home"></my-customer></p></li>
                    <li><p><my-customer info="profile7" type="link-home"></my-customer></p></li>
                    <li><p><my-customer info="profile11" type="link-home"></my-customer></p></li>
                    <li><p><my-customer info="profile12" type="link-home"></my-customer></p></li>
                    <li><p><my-customer info="profile9" type="link-home"></my-customer></p></li>
                    <li><p><my-customer info="profile14" type="link-home"></my-customer></p></li>
                </ul>
            </div>
            <div class="col-sm-12 col-lg-4 col-lg-pull-4">
                <div class="image image-expand">
                    <img class="img-responsive hidden-lg" src="assets/homeOurJurists-sm.png">
                    <img class="img-responsive visible-lg-inline" src="assets/homeOurJurists.png">
                </div>
                <h2 class="smaller">Our Jurists</h2>
                <ul class="chevron third-width-md">
                    <li><p><my-customer info="profile6" type="link-home"></my-customer></p></li>
                    <li><p><my-customer info="profile7" type="link-home"></my-customer></p></li>
                    <li><p><my-customer info="profile8" type="link-home"></my-customer></p></li>
                </ul>
            </div>
        </div><!-- /.row -->
    </div><!-- /.container -->

    <!-- Our Locations ------------------------------- -->

    <div id="ourLocations" class="highlight">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-no-gutter">
                    <h2>Our Locations</h2>
                </div>

                <div class="col-xs-6 col-sm-4">
                    <div class="image image-expand image-shadow">
                        <img class="img-responsive" src="assets/locations_usa.jpeg">
                    </div>
                    <div class="smaller-text">
                        <h3>USA</h3>
                        <p>International Place<br />
                        100 S.E. 2nd St. #2222<br />
                        Miami, Florida 33131<br />
                        USA</p>
                        <p>Tel:  +1 (305) 358-9990<br />
                        Fax :  +1 (305) 358-9997</p>
                    </div>
                </div>

                <div class="col-xs-6 col-sm-4">
                    <div class="image image-expand image-shadow">
                        <img class="img-responsive" src="assets/locations_russia.jpeg">
                    </div>
                    <div class="smaller-text">
                        <h3>Russia</h3>
                        <p>Richwise - 3rd Floor<br />
                        7rd Line 76, Basil Island<br />
                        St-Petersburg, 199178<br />
                        Russia</p>
                        <p>Tel:  +7 (812) 323-9086</p>
                    </div>
                </div>

                <div class="clearfix visible-xs"></div>

                <div class="col-xs-6 col-sm-4">
                    <div class="image image-expand image-shadow">
                        <img class="img-responsive" src="assets/locations_belgium.jpeg">
                    </div>
                    <div class="smaller-text">
                        <h3>Belgium</h3>
                        <p>475, Avenue Louise<br />
                        B-1050 Bruxelles<br />
                        Belgium</p>
                        <p>Tel: +32 491 940 149<br />
                        Fax: +32 2 791 53 85</p>
                    </div>
                </div>

                <div class="clearfix hidden-xs"></div>

                <div class="col-xs-6 col-sm-4">
                    <div class="image image-expand image-shadow">
                        <img class="img-responsive" src="assets/locations_luxemburg.jpeg">
                    </div>
                    <div class="smaller-text">
                        <h3>Luxemburg</h3>
                        <p>17, Boulevard Royal<br />
                        L-2449<br />
                        Luxembourg<br />
                        GD Luxembourg</p>
                        <p>Tel: +352 274 404<br />
                        Fax: +352 246 119 19</p>
                    </div>
                </div>

                <div class="clearfix visible-xs"></div>

                <div class="col-xs-6 col-sm-4">
                    <div class="image image-expand image-shadow">
                        <img class="img-responsive" src="assets/locations_canada.jpeg">
                    </div>
                    <div class="smaller-text">
                        <h3>Canada</h3>
                        <p>1, Carr&eacute; Westmount<br />
                        Bureau 1001<br />
                        Westmount (Qu&eacute;bec)<br />
                        Canada H3Z 2P9</p>
                        <p>Tel: +1 (514) 396 6608<br />
                        Fax: +1 (514) 940 0645</p>
                    </div>
                </div>

                <div class="col-xs-6 col-sm-4">
                    <div class="image image-expand image-shadow">
                        <img class="img-responsive" src="assets/locations_brazil.jpeg">
                    </div>
                    <div class="smaller-text">
                        <h3>Brazil</h3>
                        <p>CAS &Oacute;leo<br />
                        Visas Legaliza&ccedil;&atilde;o de Documentos ltda.<br />
                        Matriz:<br />
                        Rua da Assembl&eacute;ia 19 - 5&deg; andar - Centro<br/>
                        Rio de Janeiro, RJ - Brasil<br />
                        CEP 20011-001</p>
                    </div>
                </div>
            </div><!-- /.row -->
        </div><!-- /.container -->
    </div><!-- /LOCATIONS -->
</section>
<ng-include src="'includes/promo.html'"></ng-include>