<nav class="navbar navbar-fixed-top noscrollActive noscroll" role="navigation">
    <ng-include src="'includes/header.html'"></ng-include>
</nav>

<header class="banner links_events">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-10 col-md-offset-1">
                <h1>Links &amp; Events</h1>
            </div>
        </div>
    </div>
</header>

<ol class="breadcrumb container">
    <li><a href="/">Home</a></li>
    <li class="active">Links &amp; Events</li>
</ol>

<section class="linksevents">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h2>Links</h2>
                <p>All links wil open in a new page.</p>
                <ul class="chevron">
                    <li><p><a href="http://www.floridabar.org/" target="_blank">Florida Bar</a> (www.floridabar.org)</p></li>
                    <li><p><a href="http://www.internationallawsection.org/" target="_blank">International Section of the Florida Bar</a> (www.internationallawsection.org)</p></li>
                    <li><p><a href="http://www.martindale.com" target="_blank">Martindale-Hubbell</a> (www.martindale.com)</p></li>
                    <li><p><a itemprop="sameAs" href="http://pview.findlaw.com/view/3669960_1" target="_blank">FindLaw</a> LEX International Law Firm</p><li>
                </ul>
            </div>

            <div class="col-sm-6">
                <h2>Events</h2>
                <p>Check back soon.</p>
            </div>
        </div>
    </div> <!-- /.container -->
</section>