<nav class="navbar navbar-fixed-top noscrollActive noscroll" role="navigation">
    <ng-include src="'includes/header.html'"></ng-include>
</nav>

<header class="banner links_events">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-10 col-md-offset-1">
                <h1>Links &amp; Events</h1>
            </div>
        </div>
    </div>
</header>

<ol class="breadcrumb container">
    <li><a href="#/">Home</a></li>
    <li class="active">Links &amp; Events</li>
</ol>

<section class="linksevents">
    <header class="container headline">
        <div class="row">
            <div class="col-sm-12 col-md-10 col-md-offset-1 text-center">
                <p class="caption">Lorem ipsum dolor sit amet consequerdolor sit amet consequer ipsum dolor.</p>
            </div>
        </div>
    </header>
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h2>Links</h2>
                <ul class="chevron">
                    <li><p><a href="#">Dolor sit amet</a> ipsun dolor sit amet</p></li>
                    <li><p><a href="#">Lorem ipsun dolor sit amet</a> ipsun dolor sit amet ipsun dolor sit amet ipsun dolor sit amet ipsun dolor sit amet ipsun dolor sit ametipsun dolor sit amet.</p></li>
                    <li><p><a href="#">Dolor sit</a> amet ipsun dolor sit amet</p></li>
                    <li><p><a href="#">Aita ipsun dolor sit amet</a> amet ipsun dolor sit amet.</p></li>
                </ul>
            </div>

            <div class="col-sm-6">
                <h2>Events</h2>
                <ul class="chevron">
                    <li><p><a href="#">Dolor sit amet</a> ipsun dolor sit amet</p></li>
                    <li><p><a href="#">Lorem ipsun dolor sit amet</a> ipsun dolor sit amet ipsun dolor sit amet ipsun dolor sit amet ipsun dolor sit amet ipsun dolor sit ametipsun dolor sit amet.</p></li>
                    <li><p><a href="#">Dolor sit</a> amet ipsun dolor sit amet</p></li>
                    <li><p><a href="#">Aita ipsun dolor sit amet</a> amet ipsun dolor sit amet.</p></li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 col-md-10 col-md-offset-1 text-center">
                <h2>Centered Title</h2>
                <p><a href="#">Dolor sit amet</a> ipsun dolor sit amet</p>
                <p><a href="#">Lorem ipsun dolor sit amet</a> ipsun dolor sit amet ipsun dolor sit amet ipsun dolor sit amet ipsun dolor sit amet ipsun dolor sit ametipsun dolor sit amet.</p>
                <p><a href="#">Dolor sit</a> amet ipsun dolor sit amet</p>
                <p><a href="#">Aita ipsun dolor sit amet</a> amet ipsun dolor sit amet.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <h2>Full Width Title</h2>
                <ul class="chevron">
                    <li><p><a href="#">Dolor sit amet</a> ipsun dolor sit amet</p></li>
                    <li><p><a href="#">Lorem ipsun dolor sit amet</a> ipsun dolor sit amet ipsun dolor sit amet ipsun dolor sit amet ipsun dolor sit amet ipsun dolor sit ametipsun dolor sit amet.</p></li>
                    <li><p><a href="#">Dolor sit</a> amet ipsun dolor sit amet</p></li>
                    <li><p><a href="#">Aita ipsun dolor sit amet</a> amet ipsun dolor sit amet.</p></li>
                </ul>
            </div>
        </div>
    </div> <!-- /.container -->
</section>