<nav class="navbar navbar-fixed-top noscrollActive noscroll" role="navigation">
    <ng-include src="'includes/header.html'"></ng-include>
</nav>

<header class="banner not_found">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-10 col-md-offset-1">
                <h1>404 - Request not found</h1>
                <p>The page requested could not be found.</p>
            </div>
        </div>
    </div>
</header>

<ol class="breadcrumb container">
    <li><a href="#/">Home</a></li>
    <li class="active">404 - Request Not Found</li>
</ol>

<div class="clearfix"></div>

<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2>Page Not Found</h2>
                <p>The page requested could not be found.</p>
                <p>Here are some helpful links to help you find what you're looking for:</p>
                <ul class="chevron">
                    <li><a href="#/">Lex Homepage</a></li>
                    <li><a href="#/the_firm">The Firm</a></li>
                    <li><a href="#/practice_areas">Practice Areas</a></li>
                    <li><a href="#/our_team">Our Team</a></li>
                    <li><a href="#/links_events">Links &amp; Events</a></li>
                    <li><a href="#/contact">Contact Us</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
