<nav class="navbar navbar-fixed-top noscroll" role="navigation">
    <ng-include src="'includes/header.html'"></ng-include>
</nav>

<header>
    <div class="banner banner-ourteam">
        <div class="shade">
            <div class="container">
                <h1>Our Team</h1>
            </div>
        </div>
    </div>
</header>

<ol class="breadcrumb container">
    <li><a href="#/">Home</a></li>
    <li class="active">Our Team</li>
</ol>

<section ng-controller="ourteamCtrl">
    <!-- ng-repeat Directive | nestling -->
	<div class="container profile-list border-bottom" ng-repeat="each in countries">
		<div class="row">
		    <div class="col-sm-12 text-center">
		    	<h2>Our {{ each.countryName }} Team</h2>
		    </div>
		    <div class="col-sm-4 col-lg-3 text-center" ng-repeat="each in each.teamMember">
				<div class="image mobile">
				    <a href="#/our_team/{{ each.memberURL }}"><img class="img-circle" width="225" height="225" ng-src="assets/our_team/{{ each.memberURL }}.{{ each.imageExt }}"></a>
				</div>
			    <h3><a href="#/our_team/{{ each.memberURL }}">{{ each.memberName }}</a> <span>{{ each.memberTitle }}</span></h3>
    		</div>
		</div>
    </div>
</section>