<nav class="navbar navbar-fixed-top noscrollActive noscroll" role="navigation">
    <ng-include src="'includes/header.html'"></ng-include>
</nav>

<header class="banner practice_areas">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-10 col-md-offset-1">
                <h1>Our Practice Areas</h1>
            </div>
        </div>
    </div>
</header>

<ol class="breadcrumb container">
    <li><a href="#/">Home</a></li>
    <li class="active">Practice Areas</li>
</ol>

<section ng-controller="profileInfoCtrl" class="practiceareas">
    <header class="container headline">
        <div class="row">
            <div class="col-sm-12 col-md-10 col-md-offset-1 text-center">
                <p class="caption">Branched across Europe and the Americas, we offer expertise legal and support services in the practices of international transactions, businesses, tax <span class="text-nowrap">and investments</span>.</p>
                <ul class="subnav list-inline list-unstyled text-center">
                    <li><a href="#/practice_areas#practice01">International</a></li>
                    <li><a href="#/practice_areas#practice02">Business &amp; Commercial</a></li>
                    <li><a href="#/practice_areas#practice03">Corporation</a></li>
                    <li><a href="#/practice_areas#practice04">Tax</a></li>
                    <li><a href="#/practice_areas#practice05">Investment &amp; Security</a></li>
                    <li><a href="#/practice_areas#practice06">Real Estate</a></li>
                    <li><a href="#/practice_areas#practice07">Estate Planning</a></li>
                    <li><a href="#/practice_areas#practice08">Government Relations</a></li>
                    <li><a href="#/practice_areas#practice09">Immigration</a></li>
                    <li><a href="#/practice_areas#practice10">Notarial</a></li>
                </ul>
            </div>
        </div>
    </header>


    <img id="practice01" class="img-responsive" src="assets/practiceareas-international.png">
    <div class="container first">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1 text-center">
                <h2>International Private Practice</h2>
                <p>We provide planning advice, counsel, and legal support services to enterprises and individuals engaged in international transactions, business or investments. We focus on the jurisdictions of Europe and the Americas.</p>
                <p>Our knowledge and experience in the dynamics of transnational legal and economic milieus assists clients to structure international businesses and investments. Firm members are fluent in various languages (primarily English, German, French, Spanish and Russian) and continuously update and improve their professional skills through seminars and conferences.</p>
            </div>
        </div>
    </div>

    <img id="practice02" class="img-responsive" src="assets/practiceareas-business.png">
    <div class="container">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1 text-center">
                <h2>Business and Commercial</h2>
                <p>Various corporate clients have entrusted us as counsel for general legal matters arising from their corporate and commercial operations. Our approach - teamwork with highly qualified professionals and clients' trusted advisors - provides a wealth of skills enabling elaboration of comprehensive strategies.</p>
                <p>Thus our clients benefit from wide-ranging experience in structuring, negotiating, and implementing business acquisitions and divestitures, mergers and reorganizations, debt and equity financing, capital market transactions (both public and private sectors), leveraged buy-outs, corporate restructuring, commercial compliance, as well as equipment leasing and U.C.C. matters.</p>
             </div>
        </div>
    </div>
    <p ng-click="scrollTo('pageTop')">Back to top</p>

    <img id="practice03" class="img-responsive" src="assets/practiceareas-planning.png">
    <div class="container">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <h2>Planning, Structuring and Organizing</h2>
                <div class="row">
                    <div class="col-sm-6">
                        <p>We represent a spectrum of domestic and foreign business structures (corporations, partnerships, &ldquo;pass through&rdquo; entities). One of our fort&eacute;s is implementing business start-ups, including:</p>
                        <ul class="chevron">
                            <li><p>Planning to attain long-term client goals</p></li>
                            <li><p>Selecting appropriate operational structure(s)</p></li>
                            <li><p>Establishing basic relationships (commercial, executive, banking)</p></li>
                            <li><p>Providing executive support (eg: executive participation, visas...)</p></li>
                            <li><p>Protecting industrial or commercial property (trademarks, trade secrets)</p></li>
                            <li><p>Due diligence research and reporting</p></li>
                        </ul>
                    </div>
                    <div class="col-sm-6">
                        <p>Another fort&eacute; involves effectuating changes in business or investment structures or entities with perspectives of updating and improving them, such as:</p>
                        <ul class="chevron">
                            <li><p>Legal reviews and analyses</p></li>
                            <li><p>Reorganizations</p></li>
                            <li><p>Mergers, fusions, spin-offs</p></li>
                            <li><p>Acquisitions &amp; divestitures</p></li>
                        </ul>
                        <p>We may also constitute and coordinate the expert and professional teams needed to prepare and maintain effective operational, financial, business, or reorganization plans.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <img id="practice04" class="img-responsive" src="assets/practiceareas-tax.png">
    <div class="container">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <h2>Tax Optimization and Compliance</h2>
                <p>We undertake an extensive and diversified tax practice regarding domestic and international tax jurisdictions. We provide domestic (federal, state and local) and international tax services primarily for investors, multinational businesses, general and limited partnerships, individuals, trusts, estates, corporations, and other entities.</p>
                <p>Our taxation services include:</p>
                <ul class="chevron">
                    <li><p>Analyzing and optimizing appropriate laws and jurisdictions</p></li>
                    <li><p>Elaborating and adapting international strategies and structures</p></li>
                    <li><p>Utilizing domestic and international entities and structures</p></li>
                    <li><p>Conforming chosen plans with judicial, tax and governmental requisites</p></li>
                </ul>
             </div>
        </div>
    </div>

    <img id="practice05" class="img-responsive" src="assets/practiceareas-investment.png">
    <div class="container">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <h2>Investment and Security</h2>
                <div class="row">
                    <div class="col-sm-6">
                        <p>International investors often seek special legal services regarding potential investment projects. Our firm renders a range of services, including:</p>
                        <ul class="chevron">
                            <li><p>Legal analyses</p></li>
                            <li><p>Due diligence research</p></li>
                            <li><p>Tax impact minimization</p></li>
                            <li><p>Negotiating investment relations</p></li>
                        </ul>
                    </div>
                    <div class="col-sm-6">
                        <p>Our legal services extend to various investment vehicles, such as:</p>
                        <ul class="chevron">
                            <li><p>Stocks, options, warrants</p></li>
                            <li><p>Bonds, debentures, and rights</p></li>
                            <li><p>Mortgages &amp; secured rights</p></li>
                            <li><p>Asset-backed arrangements</p></li>
                            <li><p>Private offerings</p></li>
                            <li><p>Funds, unit trusts, SICAVs</p></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <img id="practice06" class="img-responsive" src="assets/practiceareas-realestate.png">
    <div class="container">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <h2>Real Estate</h2>
                <p>We enjoy an extensive real estate practice involving investment, commercial, and residential realty.</p>
                <p>Projects include acquisitions of shopping malls, purchases/sales of commercial buildings, mortgage financing, and resolving land development problems.</p>
                <p>Our services include:</p>
                <ul class="chevron">
                    <li><p>Preparing contracts, agreements, and other related items</p></li>
                    <li><p>Negotiating purchase/sale agreements</p></li>
                    <li><p>Elaborating financing (sale-leaseback; mortgages)</p></li>
                    <li><p>Brokerage and marketing arrangements</p></li>
                    <li><p>Leasing and rental contracts</p></li>
                    <li><p>Participations, syndicates and partnerships</p></li>
                    <li><p>Closings (major transactions)</p></li>
                </ul>
             </div>
        </div>
    </div>

    <img id="practice07" class="img-responsive" src="assets/practiceareas-estate.png">
    <div class="container">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <h2>Estate &amp; Asset Planning</h2>
                <p>We assist clients in planning their estates and preserving their wealth. We often render our estate and asset planning services in conjunction with our tax, business and commercial services.</p>
                <p>Our approach emphasizes security, confidentiality and reliability by:</p>
                <ul class="chevron">
                    <li><p>Elaborating and adapting international strategies and planning</p></li>
                    <li><p>Utilizing domestic and international entities and structures</p></li>
                    <li><p>Conforming chosen plans with judicial, tax, and governmental requirements</p></li>
                </ul>
             </div>
        </div>
    </div>

    <img id="practice08" class="img-responsive" src="assets/practiceareas-government.png">
    <div class="container">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1 text-center">
                <h2>Government Relations and Compliance</h2>
                <p>Our government relations practice involves both active representation and continuous monitoring and compliance.</p>
                <p>We represent clients directly before Federal, state, and local agencies as well as other governmental authorities, particularly in administrative processes.</p>
                <p>We assist clients to anticipate, plan, negotiate, and navigate with legislation and regulations.</span></p>
             </div>
        </div>
    </div>

    <img id="practice09" class="img-responsive" src="assets/practiceareas-visas.png">
    <div class="container">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1 text-center">
                <h2>Executive &amp; Investors Visas</h2>
                <p>We provide immigration advice to domestic and foreign businesses or investors. We often render immigration services in conjunction with tax and estate planning for persons receiving significant foreign-source income or for business executives. Through our networks, we assist clients in applying for, and facilitate their procurement of, appropriate visas.</p>
             </div>
        </div>
    </div>

    <img id="practice10" class="img-responsive" src="assets/practiceareas-notarial.png">
    <div class="container">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <h2>International Notarial Practice</h2>
                <p>Lucius Smejda is also qualified as an &quot;International Notary&quot; by the State of Florida. This status, equivalent to that of European Civil Law notaries, allows:</p>
                <ul class="chevron">
                    <li><p>Obtaining Apostilles</p></li>
                    <li><p>Certifying Facts</p></li>
                    <li><p>International Notarization</p></li>
                    <li><p>International Wills, Trusts, Estates</p></li>
                </ul>
             </div>
        </div>
    </div>
    <!-- /.container -->
    <ng-include src="'includes/promocall.html'"></ng-include>
</section>