<nav class="navbar navbar-fixed-top noscrollActive noscroll" role="navigation">
    <ng-include src="'includes/header.html'"></ng-include>
</nav>

<header class="banner the_firm">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-10 col-md-offset-1">
                <h1>Our Firm Values</h1>
            </div>
        </div>
    </div>
</header>

<ol class="breadcrumb container">
    <li><a href="#/">Home</a></li>
    <li class="active">The Firm</li>
</ol>

<section class="thefirm text-center">
    <header class="container headline">
        <div class="row">
            <div class="col-sm-12 col-md-10 col-md-offset-1">
                <p class="caption">Quality, Teamwork, Confidentiality <c>and Strong Relationships</c> <c>throughout Europe</c>, <c>North America</c> <c>and world-wide</c>.</p>
            </div>
        </div>
    </header>
    <div class="container">
        <div class="row">
            <div class="col-sm-6 focus">
                <h2>Quality</h2>
                <p>We seek to render the finest legal services to our clients, nationally and internationally.<p>
                <p>Our attorneys undertake rigorous legal education, and participate in international conference, seminars and symposia!</p>
            </div>
            <div class="col-sm-6">
                <h2>Teamwork</h2>
                <p>We begin by listening to the client to understand needs and objectives. Our approach emphasizes teamwork in developing careful factual and legal analyses.</p>
                <p>Each client receives the full benefit of our experience, diligence, foresight, confidentiality and loyalty.</p>
            </div>

            <div class="clearfix hidden-xs"></div>

            <div class="col-sm-6">
                <h2>Confidentiality</h2>
                <p>We strive to maintain the complete confidentiality of our clients' affairs.</p>
                <p>Since the internet is NOT confidential, we do not render advice, nor deal with our clients' confidential matters, via e-mail or the internet.</p>
            </div>
            <div class="col-sm-6 focus">
                <h2>Strong Relationships</h2>
                <p>We maintain excellent relationships with renowned legal, fiduciary, banking, trust and accounting firms throughout Europe, North America as well as world-wide.</p>
                <p>Our attorneys travel often in the appropriate jurisdictions in order to ensure maximum confidentiality as well as personal relations with our clients and direct relations with their local advisors. We strengthen our teams with network expertise.</p>
            </div>
        </div><!-- /.row -->
    </div>

        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h2>International Services</h2>
                    <p>Our attorneys' backgrounds include not only advanced legal degrees and enhanced knowledge in different legal areas, but also international and foreign language or qualifications.</p>
                    <p>We consider these educational and linguistic characteristics important to comprehend other jurisdictions' practices and laws, to deal effectively with international legal matters, and to efficiently service clients in their own language.</p>
                </div>
            </div>
        </div>
    <!-- /.container -->
</section>
<ng-include src="'includes/promo.html'"></ng-include>