<div class="col-sm-4">
    <div class="content">
        <h3>Practice areas</h3>
        <ul class="native">
            <li><p>Corporate law</p></li>
            <li><p>international and Russian tax law</p></li>
            <li><p>international commercial law</p></li>
            <li><p>domestic and international arbitration</p></li>
            <li><p>legal regulation of Russian state-owned enterprises</p></li>
        </ul>
    </div>
    <div class="content">
        <h3>Admissions</h3>
        <ul class="native">
            <li><p>Russian Federation (Practices in Russia)</p></li>
        </ul>
    </div>
    <div class="content">
        <h3>Languages</h3>
        <ul class="native half-width">
            <li><p>Russian</p></li>
            <li><p>English</p></li>
        </ul>
    </div>
</div>

<div class="col-sm-8">
    <div class="content">
        <h3>Publications</h3>
        <p>Richwise Consulting Group (1998); ФГУП &laquo;Радиевый институт им. В.Г.Хлопина&raquo; - Госкорпорация РосАтом / Federal State Unitary Enterprise "V. Khlopin Radium Institute" RosAtom Corporation (2005-2010).</p>
    </div>
    <div class="content">
        <h3>Education</h3>
        <p>St. Petersburg State University Law School, Russia (2002)</p>
    </div>
    <div class="content">
        <h3>Member</h3>
        <p>Organizer of annual Business Association Seminar dealing with issues of mediation.</p>
    </div>
</div>