
<div class="col-sm-4">
    <div class="content">
        <h3>Practice areas</h3>
        <ul class="native">
            <li><p>International Law</p></li>
            <li><p>Immigration Law</p></li>
        </ul>
    </div>
    <div class="content">
        <h3>Admissions</h3>
        <ul class="native">
            <li><p>Brazil. (Practices in Brazil)</p></li>
        </ul>
    </div>
    <div class="content">
        <h3>Languages</h3>
        <ul class="native half-width">
            <li><p>Portuguese</p></li>
            <li><p>English</p></li>
        </ul>
    </div>
</div>

<div class="col-sm-8">
    <div class="content">
        <h3>Experience</h3>
        <p>Current President at CAS Oil Visas. A leader in the area of immigration, CAS prepares a strategic and effective recruitment and transfer of skilled foreign labor in Brazil, regulating the foreign collaborators who are uncertain about the legislation and laws. CAS has 38 years of experience and knowledge to meet the needs of our clients. Dr. Carlos Aud Sobrinho, the C.E.O. of CAS and a professional with the most years of experience in the immigration area, shows that CAS does what it promises, with complete quality and guaranteed deadlines.</p>
    </div>
    <div class="content">
        <h3>Education</h3>
        <p>University Candido Mendes, Rio de Janeiro, Doctorate in International Law.</p>
    </div>
</div>