
<div class="col-sm-4">
    <div class="content">
        <h3>Practice areas</h3>
        <ul class="native">
            <li><p>Russian</p></li>
            <li><p>International business transactions and foreign investments</p></li>
            <li><p>Immigration law</p></li>
            <li><p>Pre-immigration corporate and tax structuring</p></li>
            <li><p>General corporate and contract law</p></li>
        </ul>
    </div>
    <div class="content">
        <h3>Admissions</h3>
        <ul class="native">
            <li><p>Florida</p></li>
            <li><p>Switzerland</p></li>
        </ul>
    </div>
    <div class="content">
        <h3>Education</h3>
        <p>University of Zurich Faculty of Law, Zurich, Switzerland (J.D.)</p>
        <p>University of Miami School of Law, Florida (J.D., cum laude)</p>
    </div>
    <div class="content">
        <h3>Languages</h3>
        <ul class="native half-width">
            <li><p>German</p></li>
            <li><p>English</p></li>
            <li><p>Italian</p></li>
            <li><p>French</p></li>
            <li><p>Spanish</p></li>
            <li><p>basic Portuguese</p></li>
        </ul>
    </div>
</div>

<div class="col-sm-8">
    <div class="content">
        <h3>Publications</h3>
        <p>"Das Neueste zum Einwanderungsrecht" – Florida Sun (2004).</p>
        <p>"Florida mobil: Fuehrerscheine fuer Auslaender" – Florida Sun (2005).</p>
        <p>"J-1 Visum: Flexibel in Amerika" – Florida Sun.</p>
        <p>"Alterntiven zum H-1B Visum" – Florida Sun (2006).</p>
        <p>"Want to work in the USA?" published in Foreign Living.</p>
        <p>"Alles ganz legal" published in Florida Sun, Florida Sun Seminar Series in Germany: legal aspects of real estate investments in Florida (Speaker 2005 and 2006).</p>
        <p>"Clever den Nachlass planen" published in Florida Sun (2007).</p>
        <p>"Relativ unproblematish" published in Florida Sun Magazine.</p>
        <p>"Student or trainee in the U.S." published in Foreign Living magazine.</p>
        <p>"An introduction to double taxation" published in Foreign Living.</p>
        <p>"Pension unter almen" published in Florida Sun.</p>
        <p>"Soziale Absicherung auf Amerikanisch" published in Florida Sun (2008).</p>
        <p>Foreign Investor’s Guide – Purchasing Real Property and Doing Business in the United States, Immigration for Real Estate Investors (book).</p>
        <p>La Clausola Arbitrale – Arbitration Clause (.it Italian Trade).</p>
    </div>
    <div class="content">
        <h3>Member</h3>
        <ul class="native half-width">
            <li><p>Florida Bar – International Law Section (secretary)</p></li>
            <li><p>Board of Directors, British-American Chamber of Commerce</p></li>
            <li><p>Florida Bar International Law Section 2005 Chair of International Law Certification and Update Seminar</p></li>
            <li><p>2006 Chair of International Transactions Overview Seminar</p></li>
            <li><p>American Immigration Lawyers Association (AILA)</p></li>
            <li><p>2007 International Transaction Overview Seminar (Chair)</p>
            <li><p>2008 First Annual International Business Transactions Conference (Co-Chair)</p></li>
        </ul>
    </div>
</div>