
<div class="col-sm-4">
    <div class="content">
        <h3>Practice areas</h3>
        <ul class="native">
            <li><p>Corporate Law</p></li>
            <li><p>Tax Law</p></li>
            <li><p>Public compliance</p></li>
            <li><p>International Tax Law</p></li>
            <li><p>FATCA</p></li>
            <li><p>International Tax Treaties</p></li>
            <li><p>International Trust and Estate Planning</p></li>
            <li><p>International Business Transactions</p></li>
            <li><p>General Corporate and Contract Law</p></li>
            <li><p>International + Foreign Investments</p></li>
        </ul>
    </div>
    <div class="content">
        <h3>Admissions</h3>
        <ul class="native">
            <li><p>French Lawyer, French Bar (1988-1995)</p></li>
            <li><p>Dominican Republic (Bar of Santo Domingo)</p></li>
            <li><p>Bar of Quebec (Canada)</p></li>
        </ul>
    </div>
    <div class="content">
        <h3>Education</h3>
        <p>Master Law in France (University of Dijon)</p>
        <p>Master Law in Dominican Republic UASD</p>
        <p>Equivalency Master Law LLM USA</p>
    </div>
    <div class="content">
        <h3>Languages</h3>
        <ul class="native half-width">
            <li><p>French</p></li>
            <li><p>English</p></li>
            <li><p>Spanish</p></li>
        </ul>
    </div>
</div>

<div class="col-sm-8">
    <div class="content">
        <h3>Publications</h3>
        <p>Divorce en 48h. www.village justice.com/articles/DIVORCE,12396.html.</p>
        <p>Une niche fiscale dont personne ne parle- www.village-justice.com/articles/niche-fiscale-personne-parle,8882.html</p>
        <p>Une niche fiscale dont personne ne parle- www.village-justice.com/articles/niche-fiscale-personne-parle,8882.html</p>
        <p>L’exon&eacute;ration fiscale totale en dehors des paradis fiscaux&hellip; www.village-justice.com/.../exoneration-fiscale-totale-dehors,4504.html</p>
        <p>La fiscalit&eacute; des &eacute;nergies renouvelables, par Eric Vigneron www.village-justice.com/.../fiscalite-energies-renouvelables,7864.html</p>
        <p>Impôts locaux motivation obligatoire du rehaussement&hellip; www.village-justice.com/.../Impots-locaux-motivation-obligatoire,11272...</p>
        <p>Une reforme fiscale 2010 portant atteinte aux d&eacute;fenses www.village.justice.com/.../reforme-fiscale-portant-atteinte,7863.html</p>
        <p>Nouveau : la &laquo; blue card &raquo; et non la &laquo; green card &raquo;- Village de &hellip; www.village.justice.com/.../Nouveau-green-travailler-france,12635.html</p>
        <p>Succession : http://frenchdistrict.com/floride/articles/reforme-juridique-successions-internationales-maitre-eric-vigneron/</p>
        <p>Book &laquo; paradis fiscaux mythe ou r&eacute;alit&eacute; &raquo; https://ww.amazon.fr/Paradis-Fiscaux-Andre-Gueugnon/dp/274831502</p>
        <p>https://facebook.com/dominicana.visa</p>
    </div>
    <div class="content">
        <h3>Member</h3>
        <ul class="native half-width">
            <li><p>UIA (Union International of Lawyers}</p></li>
            <li><p>ABA (American Bar Association)</p></li>
        </ul>
    </div>
    <div class="content">
        <h3>Experience</h3>
        <p>French Fiduciary tax adviser</p>
        <p>Tax adviser for Public Accounting Firm F.W.I</p>
        <p>Professor of Corporate Law in Bourgogne University (1994, France)</p>
        <p></p>
    </div>
</div>