
<div class="col-sm-4">
    <div class="content">
        <h3>Practice areas</h3>
        <ul class="native">
            <li><p>European &amp; French Law</p></li>
            <li><p>Commercial &amp; Business Law</p></li>
            <li><p>International Contracts, Mergers &amp; Acquisitions</p></li>
        </ul>
    </div>
    <div class="content">
        <h3>Admissions</h3>
        <ul class="native">
            <li><p>Paris, France. (Practices in France)</p></li>
        </ul>
    </div>
    <div class="content">
        <h3>Languages</h3>
        <ul class="native half-width">
            <li><p>French</p></li>
            <li><p>English</p></li>
            <li><p>Italian</p></li>
        </ul>
    </div>
</div>

<div class="col-sm-8">
    <div class="content">
        <h3>Experience</h3>
        <p>Legal Counsel at Price Waterhouse, Paris (1987-1989), General Counsel at COFIREM Holding (1989-1990), In-house counsel at GEC ASLTHOM TRANSPORT S.A. (1990-1996)</p>
    </div>
    <div class="content">
        <h3>Education</h3>
        <p>University of Nice, France &mdash; Master of Public Law (1978)</p>
        <p>Diploma in Private International Law from l'Institut du Droit de la Paix et du D&eacute;veloppement (1981), Memorandum: "L'Espace Judiciaire Europ&eacute;en" (The European Judicial Area)</p>
        <p>Doctor of Public and Private International Law (1983), Thesis: "Les Transferts de Capitaux entre la Communaut&eacute; Economique Europ&eacute;enne et les Etats-Unis" (Capital Transfers Between the European Economic Community and the U.S.)</p>
        <p>University of Miami, LL.M (1983), Memorandum: "Exchange Contracts under I.M.F. Rules"</p>
    </div>
    <div class="content">
        <h3>Honors</h3>
        <ul class="native half-width">
            <li><p>Sachs Foundation (1982)</p></li>
            <li><p>Fulbright Scholarship (1983)</p></li>
            <li><p>Stark Scholarship (1983)</p></li>
            <li><p>Rotary International Scholarship (1984)</p></li>
            <li><p>Member of the French Committee of the International Chamber of Commerce</p></li>
        </ul>
    </div>
</div>
