
<div class="col-sm-4">
    <div class="content">
        <h3>Practice areas</h3>
        <ul class="native">
            <li><p>Business Law</p></li>
            <li><p>Corporate Finance</p></li>
            <li><p>Corporate Law</p></li>
            <li><p>Taxation</p></li>
            <li><p>Tax Litigation</p></li>
            <li><p>Private and Public Financing</p></li>
        </ul>
    </div>
    <div class="content">
        <h3>Admissions</h3>
        <ul class="native">
            <li><p>Qu&eacute;bec, Canada 2004. (Practices in Canada)</p></li>
        </ul>
    </div>
    <div class="content">
        <h3>Languages</h3>
        <ul class="native half-width">
            <li><p>French</p></li>
            <li><p>English</p></li>
        </ul>
    </div>
</div>

<div class="col-sm-8">
    <div class="content">
        <h3>Experience</h3>
        <p>Leader of Enterprises among Ethier Holdings</p>
        <p>Senior Tax lawyer at Ethier Lawyers</p>
        <p>Current President at Ethier Lawyers, Inc.</p>
        <p>Leader of Enterprises at Ethier Lawyers, Montreal (Law Practice).</p>
    </div>
    <div class="content">
        <h3>Education</h3>
        <p>Universit&eacute; de Sherbrooke (LLB), 2004</p>
        <p>Universit&eacute; de Sherbrooke, Master Degree in Taxation (D. Fisc.), 2007</p>
        <p>Accounting Degree (HEC Montreal), 1987</p>
    </div>
    <div class="content">
        <h3>Member</h3>
        <ul class="native half-width">
            <li><p>Canadian Bar Association</p></li>
            <li><p>Fiscal and Financial Planning Association</p></li>
        </ul>
    </div>
</div>