
<div class="col-sm-4">
    <div class="content">
        <h3>Practice areas</h3>
         <ul class="native">
            <li><p>Civil Law</p></li>
            <li><p>Contractual Law</p></li>
            <li><p>Negotiation</p></li>
            <li><p>Management</p></li>
        </ul>
    </div>
    <div class="content">
        <h3>Admissions</h3>
         <ul class="native">
            <li><p>Germany</p></li>
        </ul>
    </div>
    <div class="content">
        <h3>Languages</h3>
         <ul class="native half-width">
            <li><p>German</p></li>
            <li><p>English</p></li>
            <li><p>French</p></li>
            <li><p>Turkish (conversational)</p></li>
        </ul>
    </div>
</div>

<div class="col-sm-8">
    <div class="content">
        <h3>Experience</h3>
        <p>Lex International law Firm, Miami, Florida, USA, 8/2016 – present, Jurist + German Attorney (Contracts and Corporate Law, Immigration, real estate).</p>
        <p>Sixt Rent a Car, LLC, Fort Lauderdale, USA, 07/2013-11/2015, Contract and Concession Manager	(business, compliance, contracts, corporate).</p>
        <p>Drager &amp; Kollegen Law Firm, Bamberg, Germany, 11/2012-06/2013, Attorney at Law (family, employment, inheritance, corporate law and litigation.</p>
        <p>Cenanovic Law Firm, Bamberg, Germany, 09/2012-10/2012, Attorney at Law	(employment, civil law and litigation).</p>
        <p>Sparkasse,  Nurnberg, Germany, 01/2011-03/2011, Referendar (foreclosure law).</p>
        <p>Lex International Law Firm, P.A. Miami, Florida, USA, 01/2011 – 03/2011, Referendar (immigration, corporate law, estate and trust, real estate).</p>
        <p>Kreuzer &amp; Coll, Law Firm, Nurnberg, Germany, 03/2010-12/2010, Referendar (real estate).</p>
    </div>
    <div class="content">
        <h3>Education</h3>
        <p>University of Erlangen-Nurnberg, Nurnberg, Germany, Second State Exam (JD) Jan 2012</p>
    </div>
</div>
