
<div class="col-sm-4">
    <div class="content">
        <h3>Practice areas</h3>
         <ul class="native">
            <li><p>International business transactions</p></li>
            <li><p>Tax law<p></li>
            <li><p>Immigration law</p></li>
            <li><p>Pre-immigration corporate and tax structuring</p></li>
            <li><p>General corporate and contract law</p></li>
        </ul>
    </div>
    <div class="content">
        <h3>Admissions</h3>
         <ul class="native half-width">
            <li><p>Florida</p></li>
            <li><p>New York</p></li>
        </ul>
    </div>
    <div class="content">
        <h3>Education</h3>
        <p>University Of Florida (LL.M. in Taxation 1992)</p>
        <p>New York Law School (J.D. 1982)</p>
        <p>Law Review, Johns Hopkins University, SAIS (School of Advanced International Studies) (M.A. Int’l Economics and Latin American Studies 1976)</p>
        <p>Princeton University (B.A. History 1974)</p>
    </div>
    <div class="content">
        <h3>Languages</h3>
         <ul class="native half-width">
            <li><p>French</p></li>
            <li><p>German</p></li>
            <li><p>Spanish</p></li>
        </ul>
    </div>
</div>

<div class="col-sm-8">
    <div class="content">
        <h3>Publications</h3>
        <p>"The Case Management Conference: Tune-Up Needed?" Florida Bar Journal (October 2001).</p>
        <p>"The Innocent Spouse Rule: Variation on a Theme," Florida Bar Journal (February 1999).</p>
        <p>"The Medicaid Disability Trust" Co-author with Roger Bernstein, Florida Bar Journal (December 1995).</p>
        <p>"The U.S. - Canada Income Tax Treaty: The Revised Protocol," Florida Bar Journal (August 1995).</p>
        <p>"The Qualified Domestic Trust," 7 Florida Journal of International Law 119 (Spring 1992).</p>
        <p>"Tax Reform Comes to the U.S. Virgin Islands," The International Business Lawyer, (July/August 1988).</p>
        <p>"Counseling the International Client on Alternative Countries of Residence: Costa Rica, Dominican Republic, Mexico," International Law Quarterly, Florida Bar publication (October 1987).</p>
    </div>

    <div class="content">
        <h3>Member</h3>
        <ul class="native">
            <li><p>Chairman, Unlicensed Practice of Law (UPL) Committee (Orlando–9B), Florida Bar (2006 - 2010)</p></li>
            <li><p>Vice-President, German-American Business Council of Tampa Bay (1997–2000)</p></li>
            <li><p>Board Member, French-American Business Council of West Florida (1999-2000)</p></li>
            <li><p>Adjunct Professor. of Law (International Taxation), Stetson University College of Law (1994)</p></li>
            <li><p>Chairman, European Union Subcom., Tampa Bay Int’l Business Council (1994–95)</p></li>
            <li><p>Executive Committee Member, Tampa Bay Int’l Business Council (1987-89), American Immigration Lawyers Association</p></li>
        </ul>
    </div>
</div>