
<div class="col-sm-4">
    <div class="content">
        <h3>Practice areas</h3>
        <ul class="native">
            <li><p>International</p></li>
            <li><p>Corporate</p></li>
            <li><p>Commercial &amp; Notarial Law</p></li>
            <li><p>Governmental Relations</p></li>
        </ul>
    </div>
    <div class="content">
        <h3>Admissions</h3>
        <ul class="native">
            <li><p>Florida</p></li>
            <li><p>Russian Federation – Moscow (Practices in Russia)</p></li>
        </ul>
    </div>
    <div class="content">
        <h3>Speaker</h3>
        <ul class="native">
            <li><p>Florida Bar Seminars 2002-2004</p></li>
            <li><p>Russian Investment Symposium, 2003</p></li>
            <li><p>International Symposium, 2005</p></li>
        </ul>
    </div>
    <div class="content">
        <h3>Languages</h3>
        <ul class="native half-width">
            <li><p>English</p></li>
            <li><p>Russian</p></li>
            <li><p>basic German</p></li>
        </ul>
    </div>
</div>

<div class="col-sm-8">
    <div class="content">
        <h3>Experience</h3>
        <p>Onyx Publishing, Moscow (1995-1997)</p>
        <p>Moscow State Court of Arbitration, Moscow (1996-1997)</p>
        <p>Investment Development and Legal Consulting Company (1997-1999)</p>
        <p>Florida State University School of Criminology (2000)</p>
        <p>College of Law (2001)</p>
        <p>Florida Department of State, Office of International Affairs (2001-2002)</p>
        <p>Bartolus, P.L. (200-2003)</p>
        <p>Florida State University – USAID (2003 - 2005)</p>
    </div>
    <div class="content">
        <h3>Member</h3>
        <ul class="native">
            <li><p>The Florida Bar</p></li>
            <li><p>The International Law Section of the Florida Bar (Chair, Russia-Eurasian Committees of the International Law Section)</p></li>
        </ul>
    </div>
    <div class="content">
        <h3>Education</h3>
        <p>Moscow State Pedagogical University, Russia (Civil Law Jurisdiction Law Degree, summa cum laude, 1998)</p>
        <p>Moscow State Academy of Law, Russia (Jurisprudence, 1999)</p>
        <p>Florida State University College of Law, Florida (J.D., cum laude, 2001)</p>
    </div>
</div>