
<div class="col-sm-4">
    <div class="content">
        <h3>Practice areas</h3>
        <ul class="native">
            <li><p>International Law</p></li>
            <li><p>Business Law</p></li>
            <li><p>Real Estate Law</p></li>
            <li><p>Corporate Law</p></li>
        </ul>
    </div>
    <div class="content">
        <h3>Admissions</h3>
        <ul class="native">
            <li><p>Belgium</p></li>
            <li><p>Luxembourg</p></li>
        </ul>
    </div>
    <div class="content">
        <h3>Member</h3>
        <ul class="native">
            <li><p>Belgian Bar Association</p></li>
            <li><p>Bar of Luxembourg (list IV)</p></li>
        </ul>
    </div>
    <div class="content">
        <h3>Languages</h3>
        <ul class="native half-width">
            <li><p>French</p></li>
            <li><p>English</p></li>
            <li><p>Italian</p></li>
        </ul>
    </div>
</div>

<div class="col-sm-8">
    <div class="content">
        <h3>Publications</h3>
        <p>Olivier is the author of three books translated in many languages and the author of numerous papers. Olivier speaks French, English and Italian</p>
    </div>
    <div class="content">
        <h3>Experience</h3>
        <p>He has launched and managed various companies, sat in boards, been partner with Deloitte &amp; Touche (with offices at Brussels, New York &amp; Johannesburg) and served EU institutions.</p>
        <p>He has been teaching management and law in many universities over the past 20 years, notably the courses of "International Business Law" and an international seminar on "Private Equity as an Asset Class</p>
    </div>
    <div class="content">
        <h3>Education</h3>
        <p>Olivier holds a Master in Laws (UCL, Belgium)</p>
        <p>A Ph.D. in Law (Aix-Marseille, France)</p>
        <p>A two-year Executive MBA from Louvain School of Management (Belgium)</p>
        <p>Antai (Shanghai, China)</p>
        <p>Fundacao Getulio Vargas (Sao Paulo, Brazil)</p>
        <p>Corvinius (Budapest, Hungary)</p>
        <p>Dr. Hance also graduated from numerous executive masters and programmes (INSEAD, Solvay, HEC Brussels, Tulane, etc.) in finance, real estate, wealth management, corporate governance and entrepreneurship.</p>
    </div>
</div>