
<div class="col-sm-4">
    <div class="content">
        <h3>Practice areas</h3>
        <ul class="native">
            <li><p>International Law</p></li>
            <li><p>Business Law</p></li>
            <li><p>Contractual and Corporate Law</p></li>
        </ul>
    </div>
    <div class="content">
        <h3>Admissions</h3>
        <ul class="native">
            <li><p>Germany</p></li>
            <li><p>Florida (expected 2017)</p></li>
        </ul>
    </div>
    <div class="content">
        <h3>Languages</h3>
        <ul class="native half-width">
            <li><p>German</p></li>
            <li><p>English</p></li>
            <li><p>French (conversational)</p></li>
        </ul>
    </div>
</div>

<div class="col-sm-8">
    <div class="content">
        <h3>Experience</h3>
        <p>Lex International Law Firm, P.A., Miami, Florida 12/8/14 - present. Jurist + German Lawyer (International, contracts and corporate law).</p>
        <p>HammersenS, Munich, Germany 09/01/14 – 11/07/14. Lawyer (Business, corporate, employment law, bank and finance, compliance).</p>
        <p>Coane and Associates, PLLC, Miami Beach, Florida Summer 2014. Intern (Employment law and immigration).</p>
        <p>Baur &amp; Klein, P.A., Miami, Florida 01/02/14 – 04/01/14. Referendar (Immigration, corporate, tax, estate and trust, investments, family law and real estate).</p>
        <p>Seitz-Weckbach-Fackler, Augsburg, Germany 07/02/13 – 12/31/13. Referendar (Tax, criminal, familiy, employment, inheritance, corporate, administrative law and litigation).</p>
        <p>Sony Music Entertainment GmbH, Munich, Germany 04/01/13 – 07/01/13. Referendar (Media, copyright, entertainment law and contracts).</p>
    </div>
    <div class="content">
        <h3>Education</h3>
        <p>St. Thomas University School of Law, Miami, Florida</p>
        <p>Candidate for J.D. anticipated May 2017</p>
        <p>Honors: St. Thomas University School of Law Merit Scholarship, 2016 – Present</p>
        <p>St. Thomas Legacy Award, Dean’s List Spring 2016</p>
        <p>University of Augsburg, Germany, Second State Exam (J.D.) May 2014</p>
    </div>
</div>