
<div class="col-sm-4">
    <div class="content">
        <h3>Practice areas</h3>
        <ul class="native">
            <li><p>International law</p></li>
            <li><p>international and Russian taxation, commercial law and arbitration of Russia and CIS countries</p></li>
            <li><p>technical regulations</p></li>
            <li><p>banking regulations</p></li>
        </ul>
    </div>
    <div class="content">
        <h3>Admissions</h3>
        <ul class="native">
            <li><p>Russian Federation (Practices in Russia)</p></li>
        </ul>
    </div>
    <div class="content">
        <h3>Education</h3>
        <p>Saint-Petersburg State University Law School (2002)</p>
        <p>Saint-Petersburg State University, Business School, Economics Department (2002)</p>
        <p>Saint-Petersburg State University Law School, PhD (2005)</p>
        <p>Columbia University in the City of New York, Business school (MBA, 2014)</p>
    </div>
    <div class="content">
        <h3>Languages</h3>
        <ul class="native half-width">
            <li><p>Russian</p></li>
            <li><p>English</p></li>
            <li><p>Spanish</p></li>
            <li><p>German</p></li>
        </ul>
    </div>
</div>

<div class="col-sm-8">
    <div class="content">
        <h3>Publications</h3>
        <p>Author of more than 40 publications, including:</p>
        <p>"The efficiency of International governmental organizations in transitional geopolitical conditions in the frameworks of international law progressive development tasks" published in Izvestia: Herzen University journal of humanities &amp; sciences (N 104/2009, SPb)</p>
        <p>"Forms of economic integration of CIS states" (SPb. 2008)</p>
        <p>"International technical regulations in the states integration process" published in Izvestia: Herzen University journal of humanities &amp; sciences (N 108/2010, SPb)</p>
        <p>"MERCOSUR experience of alternative arbitration procedure as a model for CIS. Actual problems of arbitration." (Minsk, 2010)</p>
        <p>"Unification and harmonization of technical regulations as chief factor of interstate integration process. Research, development and application of high technologies in industry (SPb., 2010)</p>
        <p>"Implementation of international technical norms to the legislation of modern Russia" published in Customs academy bulletin (N3/2010)</p>
        <p>"Legal aspects of EurAsEC integration" published in History in development (SPb. 2010)</p>
        <p>"Comparative view on assimetric integration regulation in Common economic zone of Russia, Kazakhstan, Ukraine and Belorussia and EurAsEC" published in Problems of modern economy: Eurasian scientific review (N 2/2006)</p>
    </div>
    <div class="content">
        <h3>Experience</h3>
        <p>Legal adviser and chief of law department of production and trade companies, CFO of holding company. Lawyer for City Invest Bank JSC in Saint-Petersburg, Russia (1999-2000)</p>
        <p>Head of legal department of City Invest Bank JSC in Saint-Petersburg, Russia, specialized in banking and corporate law, finance, taxation and investment law (2000-2001)</p>
        <p>Head of legal department of Universal-Contact Nets JSC. Saint-Petersburg, Russia, specialized in Corporate law, Intellectual property law, Patent law, International private law (2001-2002)</p>
        <p>Vice president of legal department and international relations of Universal-Contact Nets JSC. Saint-Petersburg, Russia, specialized in international relations (2002-2003)</p>
        <p>Chief Financial Officer for UNI Oy. Helsinki, Finland, specialized in furniture design promotion, investments, patents and taxation (2003-2004)</p>
        <p>Vice president of Autocenter Pulkovo Ltd., specialized in external control, finance and tax law (2004-2006)</p>
        <p>CEO of Pulkovo-Auto Ltd., responsible for general management duties, development and finance (2004-2006)</p>
        <p>Senior partner of RichWise consulting group (2006-present)</p>
        <p>Professor of international private and public law, and law of international organizations at Saint-Petersburg State University</p>
    </div>
    <div class="content">
        <h3>Member</h3>
        <p>Member of expert council of Committee on the Commonwealth of Independent States Issues of The Council of Federation of Russia.</p>
        <p>Vice-president of Saint-Petersburg branch of UN association of Russia.</p>
    </div>
</div>