<header>
    <div class="banner banner-ourteam">
        <div class="shade">
            <div class="container">
                <h1>Our Team</h1>
            </div>
        </div>
    </div>
</header>


<section class="ourteam">
    <header class="container headline">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1 text-center">
                <p>While representing a spectrum of domestic and foreign businesses, we provide a wealth of skills enabling elaboration of comprehensive strategies.</p>
            </div>
        </div>
        <ul class="subnav list-inline list-unstyled text-center">
            <li><a href="#/our_team#profile01">Lucius SMEJDA</a></li>
            <li><a href="#/our_team#profile02">Joseph B. McFARLAND</a></li>
            <li><a href="#/our_team#profile03">Antonio R. ZAMORA</a></li>
            <li><a href="#/our_team#profile04">Elke ROLFF</a></li>
            <li><a href="#/our_team#profile05">Maxim ISTOMIN</a></li>
            <li><a href="#/our_team#profile06">Susanne LEONE</a></li>
            <li><a href="#/our_team#profile07">Evgeny V. GOLOVANOV</a></li>
            <li><a href="#/our_team#profile08">aaa</a></li>
            <li><a href="#/our_team#profile09">aa</a></li>
            <li><a href="#/our_team#profile10">aa</a></li>
        </ul>
    </header>




    <!-- 01 =================== Lucius SMEJDA =================== -->

    <div class="profile-title" id="profile01">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 text-center">
                    <img class="img-circle" src="assets/ourteam-smejda.jpg">
                </div>
                <div class="col-sm-8">
                    <h2>Lucius SMEJDA <span>Principal</span></h2>
                </div>
            </div>
        </div>
    </div>
    <div class="container description">
        <div class="row">

            <div class="col-sm-4">
                <div class="content">
                    <h3>Admissions</h3>
                    <p><strong>USA:</strong> <br>New York <br>Florida <br>Illinois</p>
                    <p><strong>Canada:</strong> <br>Alberta</p>
                    <p>The Supreme Court of the United States</p>
                    <p>The United States Tax Court</p>
                    <p>Numerous other courts</p>
                </div>
                <div class="content">
                    <h3>Education</h3>
                    <p>Northwestern University (B.A., summa cum laude, 1968)</p>
                    <p>Columbia University (J.D., 1972)</p>
                    <p>New York University (LL.M. in Taxation, 1974)</p>
                    <p>The Hague Academy of International Law (Netherlands)</p>
                    <p>The Sorbonne (Paris, France)</p>
                    <p>University of Strasbourg (France)</p>
                </div>
                <div class="content">
                    <h3>International Notary</h3>
                    <p>Florida (Equivalent to Civil Law Notary)</p>
                </div>
                <div class="content">
                    <h3>Languages</h3>
                    <p>English</p>
                    <p>French</p>
                    <p>German</p>
                    <p>basic Spanish</p>
                    <p>basic Russian</p>
                </div>
            </div>

            <div class="col-sm-8">
                <div class="gutter">
                    <h3>Publications</h3>
                    <p>"The Supplemental Register: Does It Fulfill Its Functions Internationally and Domestically?", Trademark Reporter 1972.</p>
                    <p>"The New United States-Canada Income Tax Treaty", International Estate Planning - ABA 1981.</p>
                    <p>"The Proposed Canadian Tax Treaty; Trends and Policies", International Tax Journal 1981.</p>
                    <p>"U.S. Tax Considerations for Foreign Investments in U.S. Portfolio Asset (Stocks, Bonds, Deposits, Commodities)", "Taxation of Foreign Investors", Florida Bar 1981.</p>
                    <p>"Aperçu général des principaux impôts en matière d’Investissement Canadien dans la propriété fonçière Américaine", Canadian Bar Association, (Montreal) 1983.</p>
                    <p>"Notions élémentaires de planification commerciale et fiscale à l’usage d’entreprises françaises désirant s’établir aux Etats-Unis", Chambre Nationale de la Restauration et de l’Hôtellerie 1982.</p>
                    <p>"Major Restrictions on Foreign Investment in Canada", Current Legal Issues in U.S./Canada Trade & Investment, (Florida Bar CLE Manual 1985).</p>
                    <p>"U.S. Taxation of Corporations, Fiscalité Canada – Etats-Unis", Laval University, Canada 1986.</p>
                    <p>"Business Operations in Panama", 1987 BNA Tax Management Portfolio.</p>
                    <p>"Establishing and Managing a Canadian Business in Florida", "Planning Considerations for Canadians Doing Business or Residing in Florida", Quebec Forum 2000.</p>
                    <p>"Structuring Repatriation of Profits, Interest and Dividends", Florida Bar, 2001.</p>
                    <p>"Acquisition & Financing of Real Estate Investments" French Notary Seminar 2002.</p>
                    <p>"Planning Future Repatriations", France-Florida Forum (Paris, 2002).</p>
                    <p>"International Tax Planning", Russian Symposium (St Petersburg, 2003).</p>
                    <p>"Major US Laws & Practices re: International Business & Investments", Barcelona Symposium (Barcelona, 2004).</p>
                    <p>"Estonia – New Europe Gateway?" International Symposium (Miami, 2005).</p>
                    <p>"Investing & Living in Florida: Tax & Legal Solutions", Mondissimo convention (Paris, 2010).</p>
                    <p>« Establishing and Managing a Canadian Business in Florida », Quebec-Florida Forum (Quebec, 2010).</p>
                    <p>« U.S. Non-resident Taxation and Estate Planning », Quebec-Florida Forum (Quebec, 2010).</p>
                    <p>"Acquiring and Managing Florida Real Estate", Forum Florida – Québec, (Fort Lauderdale, 2011).</p>
                    <p>"U.S. International Income and Estate Tax Planning for Canadians" Forum Florida – (Fort Lauderdale, 2011).</p>
                    <p>"Vivre, investir et entreprendre en Floride" Forum Québec – Floride 2012 (Québec, 2012).</p>
                    <p>"Tax Structuring of U.S. Business and Investment Structures for Canadians and Mexicans", "Acquiring and Managing Florida Real Estate for Canadians or Mexicans", Symposium NAFTA, "Investment and Business Track", (Boca Raton, 2015).</p>
                    <p>"Living, Investing or Doing Business in Florida" Seminar NAFTA (Orlando, 2015).</p>

                    <div class="content">
                        <h3>Member</h3>
                        <p>International Bar Association</p>
                        <p>The New York Bar</p>
                        <p>The Florida Bar (Chair, International Law Section, 2004-2005)</p>
                        <p>Canadian and American Bar Associations</p>
                        <p>Alberta Law Society</p>
                        <p>Canadian Tax Foundation</p>
                        <p>International Fiscal Association</p>
                        <p>Phi Beta Kappa</p>
                        <p>James Kent Circle</p>
                        <p>Harlan Fiske Stone</p>
                        <p>U.S. National Association of Civil Law Notaries</p>
                    </div>
                </div>
            </div>

        </div>
    </div>




    <!-- 02 =================== Joseph B. McFARLAND =================== -->

    <div class="profile-title" id="profile02">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 text-center">
                    <img class="img-circle" src="assets/ourteam-mcfarland.jpg">
                </div>
                <div class="col-sm-8">
                    <h2>Joseph B. McFARLAND <span>Of Counsel</span></h2>
                </div>
            </div>
        </div>
    </div>

    <div class="container description">
        <div class="row">
            <div class="col-sm-4">
                <div class="content">
                    <h3>Practice areas</h3>
                    <p>International business transactions</p>
                    <p>Tax law<p>
                    <p>Immigration law</p>
                    <p>Pre-immigration corporate and tax structuring</p>
                    <p>General corporate and contract law</p>
                </div>
                <div class="content">
                    <h3>Admissions</h3>
                    <p>Florida</p>
                    <p>New York</p>
                </div>
                <div class="content">
                    <h3>Education</h3>
                    <p>University Of Florida (LL.M. in Taxation 1992)</p>
                    <p>New York Law School (J.D. 1982)</p>
                    <p>Law Review, Johns Hopkins University, SAIS (School of Advanced International Studies) (M.A. Int’l Economics and Latin American Studies 1976)</p>
                    <p>Princeton University (B.A. History 1974)</p>
                </div>
                <div class="content">
                    <h3>Languages</h3>
                    <p>French</p>
                    <p>German</p>
                    <p>Spanish</p>
                </div>
            </div>

            <div class="col-sm-8">
                <div class="gutter">
                    <h3>Publications</h3>
                    <p>"The Case Management Conference: Tune-Up Needed?" Florida Bar Journal (October 2001).</p>
                    <p>"The Innocent Spouse Rule: Variation on a Theme," Florida Bar Journal (February 1999).</p>
                    <p>"The Medicaid Disability Trust" Co-author with Roger Bernstein, Florida Bar Journal (December 1995).</p>
                    <p>"The U.S. - Canada Income Tax Treaty: The Revised Protocol," Florida Bar Journal (August 1995).</p>
                    <p>"The Qualified Domestic Trust," 7 Florida Journal of International Law 119 (Spring 1992).</p>
                    <p>"Tax Reform Comes to the U.S. Virgin Islands," The International Business Lawyer, (July/August 1988).</p>
                    <p>"Counseling the International Client on Alternative Countries of Residence: Costa Rica, Dominican Republic, Mexico," International Law Quarterly, Florida Bar publication (October 1987).</p>

                    <div class="content">
                        <h3>Member</h3>
                        <p>Chairman, Unlicensed Practice of Law (UPL) Committee (Orlando–9B), Florida Bar (2006 - 2010)</p>
                        <p>Vice-President, German-American Business Council of Tampa Bay (1997–2000)</p>
                        <p>Board Member, French-American Business Council of West Florida (1999-2000)</p>
                        <p>Adjunct Professor. of Law (International Taxation), Stetson University College of Law (1994)</p>
                        <p>Chairman, European Union Subcom., Tampa Bay Int’l Business Council (1994–95)</p>
                        <p>Executive Committee Member, Tampa Bay Int’l Business Council (1987-89), American Immigration Lawyers Association</p>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <!-- 03 =================== Antonio R. ZAMORA =================== -->

    <div class="profile-title" id="profile03">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 text-center">
                    <img class="img-circle" src="assets/ourteam-zamora.jpg">
                </div>
                <div class="col-sm-8">
                    <h2>Antonio R. ZAMORA <span>Of Counsel</span></h2>
                </div>
            </div>
        </div>
    </div>

    <div class="container description">
        <div class="row">
            <div class="col-sm-4">
                <div class="content">
                    <h3>Practice areas</h3>
                    <p>International Law/Foreign Investments</p>
                    <p>Corporate Law<p>
                    <p>Real Estate Law</p>
                </div>
                <div class="content">
                    <h3>Admissions</h3>
                    <p>Florida, 1973</p>
                </div>
                <div class="content">
                    <h3>Education</h3>
                    <p>University of Florida (B.A., Political Science, 1965)</p>
                    <p>Certificate of Latin America Studies, 1965)</p>
                    <p>University of Miami M.A., 1996 (International Studies)</p>
                    <p>University of Florida, J.D., 1973</p>
                </div>
                <div class="content">
                    <h3>Languages</h3>
                    <p>English</p>
                    <p>Spanish</p>
                </div>
            </div>

            <div class="col-sm-8">
                <div class="gutter">
                    <h3>Publications</h3>
                    <p>“Andean Pact: Regulation of Foreign Investments”, Vol. 10, No. 1, International Lawyer, 1976.</p>
                    <p>“Joint Real Estate Developments between Foreign Persons and U.S. Persons”, Real Estate Digest, 1980.</p>
                    <p>“Cuba’ s New Foreign Investment Law: Better, Worse or the Same as Before?”, Focus Americas, February 1996.</p>
                    <p>“Real Estate Investments in Cuba: Back to the Future”, Florida Journal of International Law, Fall 1997 (Published in 1999).</p>
                    <p>“Foreign Investment in Cuba: A U.S. Perspective”, Probate & Property Magazine (ABA), November/December 2000.</p>
                    <p>“Cuba’s Business Enterprises: How Business is Conducted on the Island”, Florida Journal of International Law, Spring 2003.</p>
                    <p>“The Political Evolution of the Cuban-American Community of South Florida: 1959-2005”, The Wisconsin Symposium on Cuba, March 3-5, 2005.</p>
                    <p>“How Cuba’s Legal System Will Adapt to a business Opening”, Latin Lawyer, July 2006.</p>
                    <p>Cuba’s Real Estate Under Succession”, International Law Quarterly, The Florida Bar, Summer/Fall 2008.</p>
                    <p>“Real Estate development in Cuba: Present and Future”, publisehed by Nova Southeastern University, ILSA Journal of International and Comparative Law, Summer 2009.</p>
                    <p>“What I Learned About Cuba by Going to Cuba” a Cuba Libre Publication, 2013.</p>

                    <div class="content">
                        <h3>Experience</h3>
                        <p>Vice-Chairman, City of Miami International Trade Board, 1985-1993.</p>
                        <p>President, Miami Friends of Caribbean/Latin American Action, 1985-1987.</p>
                        <p>Director and Legal Counsel, Cuabn-American National Foundation, 1982-1992.</p>
                        <p>Vice-President, Official Chamber of Commerce and Venezuelan-American Industries, 1988-1990.</p>
                        <p>Trustee, Greater Miami Chamber of Commerce, 1984.</p>
                        <p>President, Hispanic American Voters Education, Inc., 1983-1984.</p>
                        <p>Secretary, Bay of Pig’s Veteran’s Association, 1983-1984.</p>
                        <p>Founder and First Vice-President, Cuban American Bar Association, 1975.</p>
                        <p>President, US/Cuba Legal Forum, Inc., 2000 to date.</p>
                        <p>International Advisor, University of Florida College of Law, 2002 to date.</p>
                        <p>President, Foundation of the Normalization of US/Cuba Relations, 2006-2008.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <!-- 04 =================== Elke ROLFF =================== -->

    <div class="profile-title" id="profile04">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 text-center">
                    <img class="img-circle" src="assets/ourteam-rolff.jpg">
                </div>
                <div class="col-sm-8">
                    <h2>Elke ROLFF <span>Of Counsel</span></h2>
                </div>
            </div>
        </div>
    </div>

    <div class="container description">
        <div class="row">
            <div class="col-sm-4">
                <div class="content">
                    <h3>Practice areas</h3>
                    <p>International business transactions and foreign investments</p>
                    <p>Immigration law</p>
                    <p>Pre-immigration corporate and tax structuring</p>
                    <p>General corporate and contract law</p>
                </div>
                <div class="content">
                    <h3>Admissions</h3>
                    <p>Florida</p>
                    <p>Switzerland</p>
                </div>
                <div class="content">
                    <h3>Education</h3>
                    <p>University of Zurich Faculty of Law, Zurich, Switzerland (J.D.)</p>
                    <p>University of Miami School of Law, Florida (J.D., cum laude)</p>
                </div>
                <div class="content">
                    <h3>Languages</h3>
                    <p>German</p>
                    <p>English</p>
                    <p>Italian</p>
                    <p>French</p>
                    <p>Spanish</p>
                    <p>basic Portuguese</p>
                </div>
            </div>

            <div class="col-sm-8">
                <div class="gutter">
                    <h3>Publications</h3>
                    <p>“Das Neueste zum Einwanderungsrecht” – Florida Sun (2004).</p>
                    <p>“Florida mobil: Fuehrerscheine fuer Auslaender” – Florida Sun (2005).</p>
                    <p>“J-1 Visum: Flexibel in Amerika” – Florida Sun.</p>
                    <p>“Alterntiven zum H-1B Visum” – Florida Sun (2006).</p>
                    <p>“Want to work in the USA?” published in Foreign Living.</p>
                    <p>“Alles ganz legal” published in Florida Sun, Florida Sun Seminar Series in Germany: legal aspects of real estate investments in Florida (Speaker 2005 and 2006).</p>
                    <p>“Clever den Nachlass planen” published in Florida Sun (2007).</p>
                    <p>“Relativ unproblematish” published in Florida Sun Magazine.</p>
                    <p>“Student or trainee in the U.S.” published in Foreign Living magazine.</p>
                    <p>“An introduction to double taxation” published in Foreign Living.</p>
                    <p>“Pension unter almen” published in Florida Sun.</p>
                    <p>“Soziale Absicherung auf Amerikanisch” published in Florida Sun (2008).</p>
                    <p>Foreign Investor’s Guide – Purchasing Real Property and Doing Business in the United States, Immigration for Real Estate Investors (book).</p>
                    <p>La Clausola Arbitrale – Arbitration Clause (.it Italian Trade).</p>

                    <div class="content">
                        <h3>Member</h3>
                        <p>Florida Bar – International Law Section (secretary)</p>
                        <p>Board of Directors, British-American Chamber of Commerce</p>
                        <p>Florida Bar International Law Section 2005 Chair of International Law Certification and Update Seminar</p>
                        <p>2006 Chair of International Transactions Overview Seminar</p>
                        <p>American Immigration Lawyers Association (AILA)</p>
                        <p>2007 International Transaction Overview Seminar (Chair)</p>
                        <p>2008 First Annual International Business Transactions Conference (Co-Chair)</p>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <!-- 05 =================== Maxim ISTOMIN =================== -->

    <div class="profile-title" id="profile05">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 text-center">
                    <img class="img-circle" src="assets/ourteam-istomin.jpg">
                </div>
                <div class="col-sm-8">
                    <h2>Maxim ISTOMIN <span>Of Counsel</span></h2>
                </div>
            </div>
        </div>
    </div>

    <div class="container description">
        <div class="row">
            <div class="col-sm-4">
                <div class="content">
                    <h3>Practice areas</h3>
                    <p>International</p>
                    <p>Corporate</p>
                    <p>Commercial & Notarial Law</p>
                    <p>Governmental Relations</p>
                </div>
                <div class="content">
                    <h3>Admissions</h3>
                    <p>Florida</p>
                    <p>Russian Federation – Moscow (Practices in Russia)</p>
                </div>
                <div class="content">
                    <h3>Education</h3>
                    <p>Moscow State Pedagogical University, Russia (Civil Law Jurisdiction Law Degree, summa cum laude, 1998)</p>
                    <p>Moscow State Academy of Law, Russia (Jurisprudence, 1999)</p>
                    <p>Florida State University College of Law, Florida (J.D., cum laude, 2001)</p>
                </div>
                <div class="content">
                    <h3>Languages</h3>
                    <p>English</p>
                    <p>Russian</p>
                    <p>basic German</p>
                </div>
            </div>

            <div class="col-sm-8">
                <div class="gutter">
                    <h3>Experience</h3>
                    <p>Onyx Publishing, Moscow (1995-1997)</p>
                    <p>Moscow State Court of Arbitration, Moscow (1996-1997)</p>
                    <p>Investment Development and Legal Consulting Company (1997-1999)</p>
                    <p>Florida State University School of Criminology (2000)</p>
                    <p>College of Law (2001)</p>
                    <p>Florida Department of State, Office of International Affairs (2001-2002)</p>
                    <p>Bartolus, P.L. (200-2003)</p>
                    <p>Florida State University – USAID (2003 - 2005)</p>
                    <div class="content">
                        <h3>Member</h3>
                        <p>The Florida Bar</p>
                        <p>The International Law Section of the Florida Bar (Chair, Russia-Eurasian Committees of the International Law Section)</p>
                    </div>
                    <div class="content">
                        <h3>Speaker</h3>
                        <p>Florida Bar Seminars 2002-2004</p>
                        <p>Russian Investment Symposium, 2003</p>
                        <p>International Symposium, 2005</p>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <!-- 06 =================== Susanne LEONE =================== -->
    <!-- http://www.rolfflaw.com/eng/index.html -->

    <div class="profile-title" id="profile06">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 text-center">
                    <img class="img-circle" src="assets/ourteam-leone.jpg">
                </div>
                <div class="col-sm-8">
                    <h2>Susanne LEONE <span>Jurist</span></h2>
                </div>
            </div>
        </div>
    </div>

    <div class="container description">
        <div class="row">
            <div class="col-sm-4">
                <div class="content">
                    <h3>Practice areas</h3>
                    <p>International Law</p>
                    <p>Business Law</p>
                    <p>Contractual and Corporate Law</p>
                </div>
                <div class="content">
                    <h3>Admissions</h3>
                    <p>Germany</p>
                    <p>Florida (expected 2017)</p>
                </div>
                <div class="content">
                    <h3>Education</h3>
                    <p>St. Thomas University School of Law, Miami, Florida</p>
                    <p>Candidate for J.D. anticipated May 2017</p>
                    <p>Honors: St. Thomas University School of Law Merit Scholarship, 2016 – Present</p>
                    <p>St. Thomas Legacy Award, Dean’s List Spring 2016</p>
                    <p>University of Augsburg, Germany, Second State Exam (J.D.) May 2014</p>
                </div>
                <div class="content">
                    <h3>Languages</h3>
                    <p>German</p>
                    <p>English</p>
                    <p>French (conversational)</p>
                </div>
            </div>

            <div class="col-sm-8">
                <h3>Experience</h3>
                <p>Lex International Law Firm, P.A., Miami, Florida 12/8/14 - present. Jurist + German Lawyer (International, contracts and corporate law).</p>
                <p>HammersenS, Munich, Germany 09/01/14 – 11/07/14. Lawyer (Business, corporate, employment law, bank and finance, compliance).</p>
                <p>Coane and Associates, PLLC, Miami Beach, Florida Summer 2014. Intern (Employment law and immigration).</p>
                <p>Baur & Klein, P.A., Miami, Florida 01/02/14 – 04/01/14. Referendar (Immigration, corporate, tax, estate and trust, investments, family law and real estate).</p>
                <p>Seitz-Weckbach-Fackler, Augsburg, Germany 07/02/13 – 12/31/13. Referendar (Tax, criminal, familiy, employment, inheritance, corporate, administrative law and litigation).</p>
                <p>Sony Music Entertainment GmbH, Munich, Germany 04/01/13 – 07/01/13. Referendar (Media, copyright, entertainment law and contracts).</p>
            </div>
        </div>
    </div>



    <!-- 07 ===================  =================== -->

    <div class="profile-title" id="profile07">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 text-center">
                    <img class="img-circle" src="assets/ourteam-evgeny.jpg">
                </div>
                <div class="col-sm-8">
                    <h2>Evgeny V. GOLOVANOV <span>Jurist</span></h2>
                </div>
            </div>
        </div>
    </div>

    <div class="container description">
        <div class="row">
            <div class="col-sm-4">
                <div class="content">
                    <h3>Practice areas</h3>
                    <p>International law</p>
                    <p>Russian civil law</p>
                </div>
                <div class="content">
                    <h3>Admissions</h3>
                    <p>Russian Federation – St Petersburg, Moscow (Practices in Russia)</p>
                </div>
                <div class="content">
                    <h3>Education</h3>
                    <p>St. Petersburg State University Law School, Russia – International Law Jurisdiction Degree, (2005)</p>
                    <p>Moscow State University of Foreign Relations (MGIMO) – International Law PhD program.</p>
                </div>
                <div class="content">
                    <h3>Languages</h3>
                    <p>Russian</p>
                    <p>English</p>
                    <p>basic German</p>
                    <p>Latin</p>
                </div>
            </div>

            <div class="col-sm-8">
                <h3>Publications</h3>
                <p>Few aspects of totalitarian regimes in XXI century. Law School magazine (2002)</p>
                <p>Public science – Teaching guide (2007). The UN Security Council: the place and importance in the XXI century. POLITEKS political expertise. Vol.8. Number 2. St. Petersburg., 2011.</p>
                <p>Crisis in the approaches to reforming the UN Security Council. / / Political institutions in the world today. Materials of the Scientific Conference with International Participation 10 - December 11, 2010, St. Petersburg., 2010.</p>
                <p>Approaches to the UN Security Council reform: political and legal aspects. / / United Nations: Challenges and mechanisms. Collection of scientific papers. St. Petersburg., 2011</p>
                <p>The problem of Kosovo in the context of the concept of universal security. / / Politics in texts - texts in politics: science is the history of ideas and doctrines. Materials of the International scientific conference, the 40th Anniversary of the Department of Social and Political History of the exercise of political science faculty of Moscow State University. MV University. 28-29 October 2011, Moscow, 2011.</p>
                <p>The crisis of universal security system: history, theory and practice. / / Politics in texts - texts in politics: science is the history of ideas and doctrines. Materials of the International scientific conference, the 40th Anniversary of the Department of Social and Political History of the exercise of political science faculty of Moscow State University. MV University. 28-29 October 2011, Moscow, 2011.</p>

                <div class="content">
                    <h3>Experience</h3>
                    <p>Executive secretary, United Nations Association Russia (from 2003).</p>
                    <p>Professor of International law and Public science (from 2005).</p>
                    <p>Dean assistant School of Political science St. Petersburg State University (from 2009).</p>
                    <p>President of IBC group Russian Office (2007 - current).</p>
                </div>
            </div>
        </div>
    </div>




    <!-- 08 =================== Jasmin WELKER =================== -->

    <div class="profile-title" id="profile08">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 text-center">
                    <img class="img-circle" src="assets/ourteam-zamora.jpg">
                </div>
                <div class="col-sm-8">
                    <h2>Jasmin WELKER <span>Jurist</span></h2>
                </div>
            </div>
        </div>
    </div>

    <div class="container description">
        <div class="row">
            <div class="col-sm-4">
                <div class="content">
                    <h3>Practice areas</h3>
                    <p>Civil Law</p>
                    <p>Contractual Law</p>
                    <p>Negotiation</p>
                    <p>Management</p>
                </div>
                <div class="content">
                    <h3>Admissions</h3>
                    <p>Germany</p>
                </div>
                <div class="content">
                    <h3>Education</h3>
                    <p>University of Erlangen-Nurnberg, Nurnberg, Germany, Second State Exam (JD) Jan 2012</p>
                </div>
                <div class="content">
                    <h3>Languages</h3>
                    <p>German</p>
                    <p>English</p>
                    <p>French</p>
                    <p>Turkish (conversational)</p>
                </div>
            </div>

            <div class="col-sm-8">
                <div class="content">
                    <h3>Experience</h3>
                    <p>Lex International law Firm, Miami, Florida, USA, 8/2016 – present, Jurist + German Attorney (Contracts and Corporate Law, Immigration, real estate).</p>
                    <p>Sixt Rent a Car, LLC, Fort Lauderdale, USA, 07/2013-11/2015, Contract and Concession Manager	(business, compliance, contracts, corporate).</p>
                    <p>Drager & Kollegen Law Firm, Bamberg, Germany, 11/2012-06/2013, Attorney at Law (family, employment, inheritance, corporate law and litigation.</p>
                    <p>Cenanovic Law Firm, Bamberg, Germany, 09/2012-10/2012, Attorney at Law	(employment, civil law and litigation).</p>
                    <p>Sparkasse,  Nurnberg, Germany, 01/2011-03/2011, Referendar (foreclosure law).</p>
                    <p>Lex International Law Firm, P.A. Miami, Florida, USA, 01/2011 – 03/2011, Referendar (immigration, corporate law, estate and trust, real estate).</p>
                    <p>Kreuzer & Coll, Law Firm, Nurnberg, Germany, 03/2010-12/2010, Referendar (real estate).</p>
                </div>
            </div>
        </div>
    </div>




    <!-- 09 ===================  =================== -->

    <div class="profile-title" id="profile04">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 text-center">
                    <img class="img-circle" src="assets/ourteam-zamora.jpg">
                </div>
                <div class="col-sm-8">
                    <h2> <span>Jurist</span></h2>
                </div>
            </div>
        </div>
    </div>

    <div class="container description">
        <div class="row">
            <div class="col-sm-4">
                <div class="content">
                    <h3>Practice areas</h3>
                    <p></p>
                    <p></p>
                    <p></p>
                    <p></p>
                    <p></p>
                    <p></p>
                    <p></p>
                    <p></p>
                </div>
                <div class="content">
                    <h3>Admissions</h3>
                    <p></p>
                    <p></p>
                    <p></p>
                    <p></p>
                </div>
                <div class="content">
                    <h3>Education</h3>
                    <p></p>
                    <p></p>
                    <p></p>
                    <p></p>
                    <p></p>
                    <p></p>
                    <p></p>
                    <p></p>
                </div>
                <div class="content">
                    <h3>Languages</h3>
                    <p></p>
                </div>
            </div>

            <div class="col-sm-8">
                <h3>Publications</h3>
                <p></p>
                <p></p>
                <p></p>
                <p></p>

                <div class="content">
                    <h3>Experience</h3>
                    <p></p>
                    <p></p>
                    <p></p>
                    <p></p>
                </div>
            </div>
        </div>
    </div>




    <!-- 10 ===================  =================== -->

    <div class="profile-title" id="profile10">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 text-center">
                    <img class="img-circle" src="assets/ourteam-zamora.jpg">
                </div>
                <div class="col-sm-8">
                    <h2> <span>Jurist</span></h2>
                </div>
            </div>
        </div>
    </div>

    <div class="container description">
        <div class="row">
            <div class="col-sm-4">
                <div class="content">
                    <h3>Practice areas</h3>
                    <p></p>
                    <p></p>
                    <p></p>
                    <p></p>
                    <p></p>
                    <p></p>
                    <p></p>
                    <p></p>
                </div>
                <div class="content">
                    <h3>Admissions</h3>
                    <p></p>
                    <p></p>
                    <p></p>
                    <p></p>
                </div>
                <div class="content">
                    <h3>Education</h3>
                    <p></p>
                    <p></p>
                    <p></p>
                    <p></p>
                    <p></p>
                    <p></p>
                    <p></p>
                    <p></p>
                </div>
                <div class="content">
                    <h3>Languages</h3>
                    <p></p>
                </div>
            </div>

            <div class="col-sm-8">
                <h3>Publications</h3>
                <p></p>
                <p></p>
                <p></p>
                <p></p>

                <div class="content">
                    <h3>Experience</h3>
                    <p></p>
                    <p></p>
                    <p></p>
                    <p></p>
                </div>
            </div>
        </div>
    </div>



</section>



















<div class="container">

    <div class="row">

        <div class="col-lg-12">
            <h1 class="page-header">About
                <small>It's Nice to Meet You!</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="../index.html">Home</a>
                </li>
                <li class="active">About</li>
            </ol>
        </div>

    </div>

    <div class="row">

        <div class="col-md-6">
            <img class="img-responsive" src="http://placehold.it/750x450">
        </div>
        <div class="col-md-6">
            <h2>Welcome to 'Modern Business'</h2>

            <p>This is a great place to introduce your company or project and describe what you do. This about page
                features general company information, employee bios, and other helpful elements.</p>

            <p>Lid est laborum dolo rumes fugats untras. Etharums ser quidem rerum facilis dolores nemis omnis fugats
                vitaes nemo minima rerums unsers sadips amets.. Sed ut perspiciatis unde omnis iste natus error sit
                voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore
                veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia
                voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione
                voluptatem sequi nesciunt.</p>
        </div>

    </div>

    <!-- Team Member Profiles -->

    <div class="row">

        <div class="col-lg-12">
            <h2 class="page-header">Our Team</h2>
        </div>

        <div class="col-sm-4">
            <img class="img-responsive" src="http://placehold.it/750x450">

            <h3>John Smith
                <small>Job Title</small>
            </h3>
            <p>What does this team member do? Keep it short! This is also a great spot for social links!</p>
            <ul class="list-unstyled list-inline list-social-icons">
                <li class="tooltip-social facebook-link"><a href="#facebook-profile" data-toggle="tooltip"
                                                            data-placement="top" title="Facebook"><i
                        class="fa fa-facebook-square fa-2x"></i></a>
                </li>
                <li class="tooltip-social linkedin-link"><a href="#linkedin-profile" data-toggle="tooltip"
                                                            data-placement="top" title="LinkedIn"><i
                        class="fa fa-linkedin-square fa-2x"></i></a>
                </li>
                <li class="tooltip-social twitter-link"><a href="#twitter-profile" data-toggle="tooltip"
                                                           data-placement="top" title="Twitter"><i
                        class="fa fa-twitter-square fa-2x"></i></a>
                </li>
                <li class="tooltip-social google-plus-link"><a href="#google-plus-profile" data-toggle="tooltip"
                                                               data-placement="top" title="Google+"><i
                        class="fa fa-google-plus-square fa-2x"></i></a>
                </li>
            </ul>
        </div>

        <div class="col-sm-4">
            <img class="img-responsive" src="http://placehold.it/750x450">

            <h3>John Smith
                <small>Job Title</small>
            </h3>
            <p>What does this team member do? Keep it short! This is also a great spot for social links!</p>
            <ul class="list-unstyled list-inline list-social-icons">
                <li class="tooltip-social facebook-link"><a href="#facebook-profile" data-toggle="tooltip"
                                                            data-placement="top" title="Facebook"><i
                        class="fa fa-facebook-square fa-2x"></i></a>
                </li>
                <li class="tooltip-social linkedin-link"><a href="#linkedin-profile" data-toggle="tooltip"
                                                            data-placement="top" title="LinkedIn"><i
                        class="fa fa-linkedin-square fa-2x"></i></a>
                </li>
                <li class="tooltip-social twitter-link"><a href="#twitter-profile" data-toggle="tooltip"
                                                           data-placement="top" title="Twitter"><i
                        class="fa fa-twitter-square fa-2x"></i></a>
                </li>
                <li class="tooltip-social google-plus-link"><a href="#google-plus-profile" data-toggle="tooltip"
                                                               data-placement="top" title="Google+"><i
                        class="fa fa-google-plus-square fa-2x"></i></a>
                </li>
            </ul>
        </div>

        <div class="col-sm-4">
            <img class="img-responsive" src="http://placehold.it/750x450">

            <h3>John Smith
                <small>Job Title</small>
            </h3>
            <p>What does this team member do? Keep it short! This is also a great spot for social links!</p>
            <ul class="list-unstyled list-inline list-social-icons">
                <li class="tooltip-social facebook-link"><a href="#facebook-profile" data-toggle="tooltip"
                                                            data-placement="top" title="Facebook"><i
                        class="fa fa-facebook-square fa-2x"></i></a>
                </li>
                <li class="tooltip-social linkedin-link"><a href="#linkedin-profile" data-toggle="tooltip"
                                                            data-placement="top" title="LinkedIn"><i
                        class="fa fa-linkedin-square fa-2x"></i></a>
                </li>
                <li class="tooltip-social twitter-link"><a href="#twitter-profile" data-toggle="tooltip"
                                                           data-placement="top" title="Twitter"><i
                        class="fa fa-twitter-square fa-2x"></i></a>
                </li>
                <li class="tooltip-social google-plus-link"><a href="#google-plus-profile" data-toggle="tooltip"
                                                               data-placement="top" title="Google+"><i
                        class="fa fa-google-plus-square fa-2x"></i></a>
                </li>
            </ul>
        </div>

        <div class="col-sm-4">
            <img class="img-responsive" src="http://placehold.it/750x450">

            <h3>John Smith
                <small>Job Title</small>
            </h3>
            <p>What does this team member do? Keep it short! This is also a great spot for social links!</p>
            <ul class="list-unstyled list-inline list-social-icons">
                <li class="tooltip-social facebook-link"><a href="#facebook-profile" data-toggle="tooltip"
                                                            data-placement="top" title="Facebook"><i
                        class="fa fa-facebook-square fa-2x"></i></a>
                </li>
                <li class="tooltip-social linkedin-link"><a href="#linkedin-profile" data-toggle="tooltip"
                                                            data-placement="top" title="LinkedIn"><i
                        class="fa fa-linkedin-square fa-2x"></i></a>
                </li>
                <li class="tooltip-social twitter-link"><a href="#twitter-profile" data-toggle="tooltip"
                                                           data-placement="top" title="Twitter"><i
                        class="fa fa-twitter-square fa-2x"></i></a>
                </li>
                <li class="tooltip-social google-plus-link"><a href="#google-plus-profile" data-toggle="tooltip"
                                                               data-placement="top" title="Google+"><i
                        class="fa fa-google-plus-square fa-2x"></i></a>
                </li>
            </ul>
        </div>

        <div class="col-sm-4">
            <img class="img-responsive" src="http://placehold.it/750x450">

            <h3>John Smith
                <small>Job Title</small>
            </h3>
            <p>What does this team member do? Keep it short! This is also a great spot for social links!</p>
            <ul class="list-unstyled list-inline list-social-icons">
                <li class="tooltip-social facebook-link"><a href="#facebook-profile" data-toggle="tooltip"
                                                            data-placement="top" title="Facebook"><i
                        class="fa fa-facebook-square fa-2x"></i></a>
                </li>
                <li class="tooltip-social linkedin-link"><a href="#linkedin-profile" data-toggle="tooltip"
                                                            data-placement="top" title="LinkedIn"><i
                        class="fa fa-linkedin-square fa-2x"></i></a>
                </li>
                <li class="tooltip-social twitter-link"><a href="#twitter-profile" data-toggle="tooltip"
                                                           data-placement="top" title="Twitter"><i
                        class="fa fa-twitter-square fa-2x"></i></a>
                </li>
                <li class="tooltip-social google-plus-link"><a href="#google-plus-profile" data-toggle="tooltip"
                                                               data-placement="top" title="Google+"><i
                        class="fa fa-google-plus-square fa-2x"></i></a>
                </li>
            </ul>
        </div>

        <div class="col-sm-4">
            <img class="img-responsive" src="http://placehold.it/750x450">

            <h3>John Smith
                <small>Job Title</small>
            </h3>
            <p>What does this team member do? Keep it short! This is also a great spot for social links!</p>
            <ul class="list-unstyled list-inline list-social-icons">
                <li class="tooltip-social facebook-link"><a href="#facebook-profile" data-toggle="tooltip"
                                                            data-placement="top" title="Facebook"><i
                        class="fa fa-facebook-square fa-2x"></i></a>
                </li>
                <li class="tooltip-social linkedin-link"><a href="#linkedin-profile" data-toggle="tooltip"
                                                            data-placement="top" title="LinkedIn"><i
                        class="fa fa-linkedin-square fa-2x"></i></a>
                </li>
                <li class="tooltip-social twitter-link"><a href="#twitter-profile" data-toggle="tooltip"
                                                           data-placement="top" title="Twitter"><i
                        class="fa fa-twitter-square fa-2x"></i></a>
                </li>
                <li class="tooltip-social google-plus-link"><a href="#google-plus-profile" data-toggle="tooltip"
                                                               data-placement="top" title="Google+"><i
                        class="fa fa-google-plus-square fa-2x"></i></a>
                </li>
            </ul>
        </div>

    </div>

    <!-- Our Customers -->

    <div class="row">

        <div class="col-lg-12">
            <h2 class="page-header">Our Customers</h2>
        </div>

        <div class="col-md-2 col-sm-4 col-xs-6">
            <img class="img-responsive img-customer" src="http://placehold.it/500x300">
        </div>

        <div class="col-md-2 col-sm-4 col-xs-6">
            <img class="img-responsive img-customer" src="http://placehold.it/500x300">
        </div>

        <div class="col-md-2 col-sm-4 col-xs-6">
            <img class="img-responsive img-customer" src="http://placehold.it/500x300">
        </div>

        <div class="col-md-2 col-sm-4 col-xs-6">
            <img class="img-responsive img-customer" src="http://placehold.it/500x300">
        </div>

        <div class="col-md-2 col-sm-4 col-xs-6">
            <img class="img-responsive img-customer" src="http://placehold.it/500x300">
        </div>

        <div class="col-md-2 col-sm-4 col-xs-6">
            <img class="img-responsive img-customer" src="http://placehold.it/500x300">
        </div>

    </div>

</div>
<!-- /.container -->
