<nav class="navbar navbar-fixed-top" role="navigation">
    <ng-include src="'includes/header.html'"></ng-include>
</nav>
<section ng-controller="profileInfoCtrl"><div class="ourteam">

    <!-- 03 =================== Antonio R. ZAMORA =================== -->

    <div class="profile-header" id="profile03">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 text-center">
                    <my-customer info="profile3" type="image"></my-customer>
                </div>
                <div class="col-sm-8">
                    <a class="back-link" href="#/our_team/">back to team</a>
                    <h1><my-customer info="profile3" type="nametitle"></my-customer></h1>
                </div>
            </div>
        </div>
    </div>

    <div class="container description">
        <div class="row">
            <div class="col-sm-4">
                <div class="content">
                    <h3>Practice areas</h3>
                    <p>International Law/Foreign Investments</p>
                    <p>Corporate Law<p>
                    <p>Real Estate Law</p>
                </div>
                <div class="content">
                    <h3>Admissions</h3>
                    <p>Florida, 1973</p>
                </div>
                <div class="content">
                    <h3>Education</h3>
                    <p>University of Florida (B.A., Political Science, 1965)</p>
                    <p>Certificate of Latin America Studies, 1965)</p>
                    <p>University of Miami M.A., 1996 (International Studies)</p>
                    <p>University of Florida, J.D., 1973</p>
                </div>
                <div class="content">
                    <h3>Languages</h3>
                    <p>English</p>
                    <p>Spanish</p>
                </div>
            </div>

            <div class="col-sm-8">
                <div class="gutter">
                    <h3>Publications</h3>
                    <p>“Andean Pact: Regulation of Foreign Investments”, Vol. 10, No. 1, International Lawyer, 1976.</p>
                    <p>“Joint Real Estate Developments between Foreign Persons and U.S. Persons”, Real Estate Digest, 1980.</p>
                    <p>“Cuba’ s New Foreign Investment Law: Better, Worse or the Same as Before?”, Focus Americas, February 1996.</p>
                    <p>“Real Estate Investments in Cuba: Back to the Future”, Florida Journal of International Law, Fall 1997 (Published in 1999).</p>
                    <p>“Foreign Investment in Cuba: A U.S. Perspective”, Probate & Property Magazine (ABA), November/December 2000.</p>
                    <p>“Cuba’s Business Enterprises: How Business is Conducted on the Island”, Florida Journal of International Law, Spring 2003.</p>
                    <p>“The Political Evolution of the Cuban-American Community of South Florida: 1959-2005”, The Wisconsin Symposium on Cuba, March 3-5, 2005.</p>
                    <p>“How Cuba’s Legal System Will Adapt to a business Opening”, Latin Lawyer, July 2006.</p>
                    <p>Cuba’s Real Estate Under Succession”, International Law Quarterly, The Florida Bar, Summer/Fall 2008.</p>
                    <p>“Real Estate development in Cuba: Present and Future”, publisehed by Nova Southeastern University, ILSA Journal of International and Comparative Law, Summer 2009.</p>
                    <p>“What I Learned About Cuba by Going to Cuba” a Cuba Libre Publication, 2013.</p>

                    <div class="content">
                        <h3>Experience</h3>
                        <p>Vice-Chairman, City of Miami International Trade Board, 1985-1993.</p>
                        <p>President, Miami Friends of Caribbean/Latin American Action, 1985-1987.</p>
                        <p>Director and Legal Counsel, Cuabn-American National Foundation, 1982-1992.</p>
                        <p>Vice-President, Official Chamber of Commerce and Venezuelan-American Industries, 1988-1990.</p>
                        <p>Trustee, Greater Miami Chamber of Commerce, 1984.</p>
                        <p>President, Hispanic American Voters Education, Inc., 1983-1984.</p>
                        <p>Secretary, Bay of Pig’s Veteran’s Association, 1983-1984.</p>
                        <p>Founder and First Vice-President, Cuban American Bar Association, 1975.</p>
                        <p>President, US/Cuba Legal Forum, Inc., 2000 to date.</p>
                        <p>International Advisor, University of Florida College of Law, 2002 to date.</p>
                        <p>President, Foundation of the Normalization of US/Cuba Relations, 2006-2008.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div></section>