<nav class="navbar navbar-fixed-top" role="navigation">
    <ng-include src="'includes/header.html'"></ng-include>
</nav>
<section ng-controller="profileInfoCtrl"><div class="ourteam">

    <!-- 04 =================== Elke ROLFF =================== -->
    <div class="profile-header">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 text-center">
                    <my-customer info="profile4" type="image"></my-customer>
                </div>
                <div class="col-sm-8">
                    <a class="back-link" href="#/our_team/">back to team</a>
                    <h1><my-customer info="profile4" type="nametitle"></my-customer></h1>
                </div>
            </div>
        </div>
    </div>

    <div class="container description">
        <div class="row">
            <div class="col-sm-4">
                <div class="content">
                    <h3>Practice areas</h3>
                    <p>International business transactions and foreign investments</p>
                    <p>Immigration law</p>
                    <p>Pre-immigration corporate and tax structuring</p>
                    <p>General corporate and contract law</p>
                </div>
                <div class="content">
                    <h3>Admissions</h3>
                    <p>Florida</p>
                    <p>Switzerland</p>
                </div>
                <div class="content">
                    <h3>Education</h3>
                    <p>University of Zurich Faculty of Law, Zurich, Switzerland (J.D.)</p>
                    <p>University of Miami School of Law, Florida (J.D., cum laude)</p>
                </div>
                <div class="content">
                    <h3>Languages</h3>
                    <p>German</p>
                    <p>English</p>
                    <p>Italian</p>
                    <p>French</p>
                    <p>Spanish</p>
                    <p>basic Portuguese</p>
                </div>
            </div>

            <div class="col-sm-8">
                <div class="gutter">
                    <h3>Publications</h3>
                    <p>“Das Neueste zum Einwanderungsrecht” – Florida Sun (2004).</p>
                    <p>“Florida mobil: Fuehrerscheine fuer Auslaender” – Florida Sun (2005).</p>
                    <p>“J-1 Visum: Flexibel in Amerika” – Florida Sun.</p>
                    <p>“Alterntiven zum H-1B Visum” – Florida Sun (2006).</p>
                    <p>“Want to work in the USA?” published in Foreign Living.</p>
                    <p>“Alles ganz legal” published in Florida Sun, Florida Sun Seminar Series in Germany: legal aspects of real estate investments in Florida (Speaker 2005 and 2006).</p>
                    <p>“Clever den Nachlass planen” published in Florida Sun (2007).</p>
                    <p>“Relativ unproblematish” published in Florida Sun Magazine.</p>
                    <p>“Student or trainee in the U.S.” published in Foreign Living magazine.</p>
                    <p>“An introduction to double taxation” published in Foreign Living.</p>
                    <p>“Pension unter almen” published in Florida Sun.</p>
                    <p>“Soziale Absicherung auf Amerikanisch” published in Florida Sun (2008).</p>
                    <p>Foreign Investor’s Guide – Purchasing Real Property and Doing Business in the United States, Immigration for Real Estate Investors (book).</p>
                    <p>La Clausola Arbitrale – Arbitration Clause (.it Italian Trade).</p>

                    <div class="content">
                        <h3>Member</h3>
                        <p>Florida Bar – International Law Section (secretary)</p>
                        <p>Board of Directors, British-American Chamber of Commerce</p>
                        <p>Florida Bar International Law Section 2005 Chair of International Law Certification and Update Seminar</p>
                        <p>2006 Chair of International Transactions Overview Seminar</p>
                        <p>American Immigration Lawyers Association (AILA)</p>
                        <p>2007 International Transaction Overview Seminar (Chair)</p>
                        <p>2008 First Annual International Business Transactions Conference (Co-Chair)</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div></section>

