<nav class="navbar navbar-fixed-top profile-menu" role="navigation">
    <ng-include src="'includes/header.html'"></ng-include>
</nav>
<section ng-controller="MainCtrl"><div class="ourteam">

    <!-- 7 ===================  =================== -->

    <div class="profile-header">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 text-center">
                    <my-customer info="profile7" type="image"></my-customer>
                </div>
                <div class="col-sm-8">
                    <a class="back-link" href="our_team/#USAteam">back to team</a>
                    <h1><my-customer info="profile7" type="nametitle"></my-customer></h1>
                </div>
            </div>
        </div>
    </div>

    <div class="container description">
        <div class="row">
            <ng-include src="'partials/our_team/content/Evgeny_Golovanov-content.html'"></ng-include>
        </div>
    </div>
</div></section>