<nav class="navbar navbar-fixed-top" role="navigation">
    <ng-include src="'includes/header.html'"></ng-include>
</nav>
<section ng-controller="profileInfoCtrl"><div class="ourteam">

    <!-- 7 ===================  =================== -->

    <div class="profile-header">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 text-center">
                    <my-customer info="profile7" type="image"></my-customer>
                </div>
                <div class="col-sm-8">
                    <a class="back-link" href="#/our_team/">back to team</a>
                    <h1><my-customer info="profile7" type="nametitle"></my-customer></h1>
                </div>
            </div>
        </div>
    </div>

    <div class="container description">
        <div class="row">
            <div class="col-sm-4">
                <div class="content">
                    <h3>Practice areas</h3>
                    <p>International law</p>
                    <p>Russian civil law</p>
                </div>
                <div class="content">
                    <h3>Admissions</h3>
                    <p>Russian Federation – St Petersburg, Moscow (Practices in Russia)</p>
                </div>
                <div class="content">
                    <h3>Education</h3>
                    <p>St. Petersburg State University Law School, Russia – International Law Jurisdiction Degree, (2005)</p>
                    <p>Moscow State University of Foreign Relations (MGIMO) – International Law PhD program.</p>
                </div>
                <div class="content">
                    <h3>Languages</h3>
                    <p>Russian</p>
                    <p>English</p>
                    <p>basic German</p>
                    <p>Latin</p>
                </div>
            </div>

            <div class="col-sm-8">
                <div class="content">
                    <h3>Publications</h3>
                    <p>Few aspects of totalitarian regimes in XXI century. Law School magazine (2002)</p>
                    <p>Public science – Teaching guide (2007). The UN Security Council: the place and importance in the XXI century. POLITEKS political expertise. Vol.8. Number 2. St. Petersburg., 2011.</p>
                    <p>Crisis in the approaches to reforming the UN Security Council. / / Political institutions in the world today. Materials of the Scientific Conference with International Participation 10 - December 11, 2010, St. Petersburg., 2010.</p>
                    <p>Approaches to the UN Security Council reform: political and legal aspects. / / United Nations: Challenges and mechanisms. Collection of scientific papers. St. Petersburg., 2011</p>
                    <p>The problem of Kosovo in the context of the concept of universal security. / / Politics in texts - texts in politics: science is the history of ideas and doctrines. Materials of the International scientific conference, the 40th Anniversary of the Department of Social and Political History of the exercise of political science faculty of Moscow State University. MV University. 28-29 October 2011, Moscow, 2011.</p>
                    <p>The crisis of universal security system: history, theory and practice. / / Politics in texts - texts in politics: science is the history of ideas and doctrines. Materials of the International scientific conference, the 40th Anniversary of the Department of Social and Political History of the exercise of political science faculty of Moscow State University. MV University. 28-29 October 2011, Moscow, 2011.</p>
                </div>
                <div class="content">
                    <h3>Experience</h3>
                    <p>Executive secretary, United Nations Association Russia (from 2003).</p>
                    <p>Professor of International law and Public science (from 2005).</p>
                    <p>Dean assistant School of Political science St. Petersburg State University (from 2009).</p>
                    <p>President of IBC group Russian Office (2007 - current).</p>
                </div>
            </div>
        </div>
    </div>
</div></section>



