<nav class="navbar navbar-fixed-top" role="navigation">
    <ng-include src="'includes/header.html'"></ng-include>
</nav>
<section ng-controller="profileInfoCtrl"><div class="ourteam">

    <!-- 8 =================== Jasmin WELKER =================== -->

    <div class="profile-header">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 text-center">
                    <my-customer info="profile8" type="image"></my-customer>
                </div>
                <div class="col-sm-8">
                    <a class="back-link" href="#/our_team/">back to team</a>
                    <h1><my-customer info="profile8" type="nametitle"></my-customer></h1>
                </div>
            </div>
        </div>
    </div>

    <div class="container description">
        <div class="row">
            <div class="col-sm-4">
                <div class="content">
                    <h3>Practice areas</h3>
                    <p>Civil Law</p>
                    <p>Contractual Law</p>
                    <p>Negotiation</p>
                    <p>Management</p>
                </div>
                <div class="content">
                    <h3>Admissions</h3>
                    <p>Germany</p>
                </div>
                <div class="content">
                    <h3>Education</h3>
                    <p>University of Erlangen-Nurnberg, Nurnberg, Germany, Second State Exam (JD) Jan 2012</p>
                </div>
                <div class="content">
                    <h3>Languages</h3>
                    <p>German</p>
                    <p>English</p>
                    <p>French</p>
                    <p>Turkish (conversational)</p>
                </div>
            </div>

            <div class="col-sm-8">
                <div class="content">
                    <div class="gutter">
                        <h3>Experience</h3>
                        <p>Lex International law Firm, Miami, Florida, USA, 8/2016 – present, Jurist + German Attorney (Contracts and Corporate Law, Immigration, real estate).</p>
                        <p>Sixt Rent a Car, LLC, Fort Lauderdale, USA, 07/2013-11/2015, Contract and Concession Manager	(business, compliance, contracts, corporate).</p>
                        <p>Drager & Kollegen Law Firm, Bamberg, Germany, 11/2012-06/2013, Attorney at Law (family, employment, inheritance, corporate law and litigation.</p>
                        <p>Cenanovic Law Firm, Bamberg, Germany, 09/2012-10/2012, Attorney at Law	(employment, civil law and litigation).</p>
                        <p>Sparkasse,  Nurnberg, Germany, 01/2011-03/2011, Referendar (foreclosure law).</p>
                        <p>Lex International Law Firm, P.A. Miami, Florida, USA, 01/2011 – 03/2011, Referendar (immigration, corporate law, estate and trust, real estate).</p>
                        <p>Kreuzer & Coll, Law Firm, Nurnberg, Germany, 03/2010-12/2010, Referendar (real estate).</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div></secrtion>

