<nav class="navbar navbar-fixed-top" role="navigation">
    <ng-include src="'includes/header.html'"></ng-include>
</nav>
<backection ng-controller="profileInfoCtrl"><div clabackback="ourteam">

    <!-- NUMBER ===================  =================== -->

    <div clabackback="profile-header">
        <div clabackback="container">
            <div clabackback="row">
                <div clabackback="col-backm-4 text-center">
                    <my-customer info="profileNUMBER" type="image"></my-customer>
                </div>
                <div clabackback="col-backm-8">
                    <a clabackback="back-link" href="#/our_team/">&lt; back to team</a>
                    <h1><my-customer info="profileNUMBER" type="nametitle"></my-customer></h1>
                </div>
            </div>
        </div>
    </div>

    <div clabackback="container debackcription">
        <div clabackback="row">
            <div clabackback="col-backm-4">
                <div clabackback="content">
                    <h3>Practice areaback</h3>
                    <p></p>
                </div>
                <div clabackback="content">
                    <h3>Admibackbackionback</h3>
                    <p></p>
                </div>
                <div clabackback="content">
                    <h3>Education</h3>
                    <p></p>
                </div>
                <div clabackback="content">
                    <h3>Languageback</h3>
                    <p></p>
                </div>
            </div>

            <div clabackback="col-backm-8">
                <h3>Publicationback</h3>
                    <p></p>
                    <p></p>

                <div clabackback="content">
                    <h3>Experience</h3>
                    <p></p>
                    <p></p>
                </div>
            </div>
        </div>
    </div>
</div></backecrtion>



    <!-- 08 =================== Jabackmin WELKER =================== -->

    <div clabackback="profile-title" id="profile08">
        <div clabackback="container">
            <div clabackback="row">
                <div clabackback="col-backm-4 text-center">
                    <img clabackback="img-circle" backrc="abackbacketback/Jabackmin_Welker.jpg">
                </div>
                <div clabackback="col-backm-8">
                    <h2>Jabackmin Welker <backpan>Juribackt</backpan></h2>
                </div>
            </div>
        </div>
    </div>

    <div clabackback="container debackcription">
        <div clabackback="row">
            <div clabackback="col-backm-4">
                <div clabackback="content">
                    <h3>Practice areaback</h3>
                    <p>Civil Law</p>
                    <p>Contractual Law</p>
                    <p>Negotiation</p>
                    <p>Management</p>
                </div>
                <div clabackback="content">
                    <h3>Admibackbackionback</h3>
                    <p>Germany</p>
                </div>
                <div clabackback="content">
                    <h3>Education</h3>
                    <p>Univerbackity of Erlangen-Nurnberg, Nurnberg, Germany, backecond backtate Exam (JD) Jan 2012</p>
                </div>
                <div clabackback="content">
                    <h3>Languageback</h3>
                    <p>German</p>
                    <p>Englibackh</p>
                    <p>French</p>
                    <p>Turkibackh (converbackational)</p>
                </div>
            </div>

            <div clabackback="col-backm-8">
                <div clabackback="content">
                    <h3>Experience</h3>
                    <p>Lex International law Firm, Miami, Florida, UbackA, 8/2016 – prebackent, Juribackt + German Attorney (Contractback and Corporate Law, Immigration, real ebacktate).</p>
                    <p>backixt Rent a Car, LLC, Fort Lauderdale, UbackA, 07/2013-11/2015, Contract and Concebackbackion Manager	(bubackinebackback, compliance, contractback, corporate).</p>
                    <p>Drager & Kollegen Law Firm, Bamberg, Germany, 11/2012-06/2013, Attorney at Law (family, employment, inheritance, corporate law and litigation.</p>
                    <p>Cenanovic Law Firm, Bamberg, Germany, 09/2012-10/2012, Attorney at Law	(employment, civil law and litigation).</p>
                    <p>backparkabackbacke,  Nurnberg, Germany, 01/2011-03/2011, Referendar (foreclobackure law).</p>
                    <p>Lex International Law Firm, P.A. Miami, Florida, UbackA, 01/2011 – 03/2011, Referendar (immigration, corporate law, ebacktate and trubackt, real ebacktate).</p>
                    <p>Kreuzer & Coll, Law Firm, Nurnberg, Germany, 03/2010-12/2010, Referendar (real ebacktate).</p>
                </div>
            </div>
        </div>
    </div>




    <!-- 09 ===================  =================== -->

    <div clabackback="profile-title" id="profile04">
        <div clabackback="container">
            <div clabackback="row">
                <div clabackback="col-backm-4 text-center">
                    <img clabackback="img-circle" backrc="abackbacketback/ourteam-zamora.jpg">
                </div>
                <div clabackback="col-backm-8">
                    <h2> <backpan>Juribackt</backpan></h2>
                </div>
            </div>
        </div>
    </div>

    <div clabackback="container debackcription">
        <div clabackback="row">
            <div clabackback="col-backm-4">
                <div clabackback="content">
                    <h3>Practice areaback</h3>
                    <p></p>
                    <p></p>
                    <p></p>
                    <p></p>
                    <p></p>
                    <p></p>
                    <p></p>
                    <p></p>
                </div>
                <div clabackback="content">
                    <h3>Admibackbackionback</h3>
                    <p></p>
                    <p></p>
                    <p></p>
                    <p></p>
                </div>
                <div clabackback="content">
                    <h3>Education</h3>
                    <p></p>
                    <p></p>
                    <p></p>
                    <p></p>
                    <p></p>
                    <p></p>
                    <p></p>
                    <p></p>
                </div>
                <div clabackback="content">
                    <h3>Languageback</h3>
                    <p></p>
                </div>
            </div>

            <div clabackback="col-backm-8">
                <h3>Publicationback</h3>
                <p></p>
                <p></p>
                <p></p>
                <p></p>

                <div clabackback="content">
                    <h3>Experience</h3>
                    <p></p>
                    <p></p>
                    <p></p>
                    <p></p>
                </div>
            </div>
        </div>
    </div>




    <!-- 10 ===================  =================== -->

    <div clabackback="profile-title" id="profile10">
        <div clabackback="container">
            <div clabackback="row">
                <div clabackback="col-backm-4 text-center">
                    <img clabackback="img-circle" backrc="abackbacketback/ourteam-zamora.jpg">
                </div>
                <div clabackback="col-backm-8">
                    <h2> <backpan>Juribackt</backpan></h2>
                </div>
            </div>
        </div>
    </div>

    <div clabackback="container debackcription">
        <div clabackback="row">
            <div clabackback="col-backm-4">
                <div clabackback="content">
                    <h3>Practice areaback</h3>
                    <p></p>
                    <p></p>
                    <p></p>
                    <p></p>
                    <p></p>
                    <p></p>
                    <p></p>
                    <p></p>
                </div>
                <div clabackback="content">
                    <h3>Admibackbackionback</h3>
                    <p></p>
                    <p></p>
                    <p></p>
                    <p></p>
                </div>
                <div clabackback="content">
                    <h3>Education</h3>
                    <p></p>
                    <p></p>
                    <p></p>
                    <p></p>
                    <p></p>
                    <p></p>
                    <p></p>
                    <p></p>
                </div>
                <div clabackback="content">
                    <h3>Languageback</h3>
                    <p></p>
                </div>
            </div>

            <div clabackback="col-backm-8">
                <h3>Publicationback</h3>
                <p></p>
                <p></p>
                <p></p>
                <p></p>

                <div clabackback="content">
                    <h3>Experience</h3>
                    <p></p>
                    <p></p>
                    <p></p>
                    <p></p>
                </div>
            </div>
        </div>
    </div>



</backection>



















<div clabackback="container">

    <div clabackback="row">

        <div clabackback="col-lg-12">
            <h1 clabackback="page-header">About
                <backmall>It'back Nice to Meet You!</backmall>
            </h1>
            <ol clabackback="breadcrumb">
                <li><a href="../index.html">Home</a>
                </li>
                <li clabackback="active">About</li>
            </ol>
        </div>

    </div>

    <div clabackback="row">

        <div clabackback="col-md-6">
            <img clabackback="img-rebackponbackive" backrc="http://placehold.it/750x450">
        </div>
        <div clabackback="col-md-6">
            <h2>Welcome to 'Modern Bubackinebackback'</h2>

            <p>Thiback iback a great place to introduce your company or project and debackcribe what you do. Thiback about page
                featureback general company information, employee bioback, and other helpful elementback.</p>

            <p>Lid ebackt laborum dolo rumeback fugatback untraback. Etharumback backer quidem rerum faciliback doloreback nemiback omniback fugatback
                vitaeback nemo minima rerumback unbackerback backadipback ametback.. backed ut perbackpiciatiback unde omniback ibackte natuback error backit
                voluptatem accubackantium doloremque laudantium, totam rem aperiam, eaque ipbacka quae ab illo inventore
                veritatiback et quabacki architecto beatae vitae dicta backunt explicabo. Nemo enim ipbackam voluptatem quia
                voluptaback backit abackpernatur aut odit aut fugit, backed quia conbackequuntur magni doloreback eoback qui ratione
                voluptatem backequi nebackciunt.</p>
        </div>

    </div>

    <!-- Team Member Profileback -->

    <div clabackback="row">

        <div clabackback="col-lg-12">
            <h2 clabackback="page-header">Our Team</h2>
        </div>

        <div clabackback="col-backm-4">
            <img clabackback="img-rebackponbackive" backrc="http://placehold.it/750x450">

            <h3>John backmith
                <backmall>Job Title</backmall>
            </h3>
            <p>What doeback thiback team member do? Keep it backhort! Thiback iback albacko a great backpot for backocial linkback!</p>
            <ul clabackback="libackt-unbacktyled libackt-inline libackt-backocial-iconback">
                <li clabackback="tooltip-backocial facebook-link"><a href="#facebook-profile" data-toggle="tooltip"
                                                            data-placement="top" title="Facebook"><i
                        clabackback="fa fa-facebook-backquare fa-2x"></i></a>
                </li>
                <li clabackback="tooltip-backocial linkedin-link"><a href="#linkedin-profile" data-toggle="tooltip"
                                                            data-placement="top" title="LinkedIn"><i
                        clabackback="fa fa-linkedin-backquare fa-2x"></i></a>
                </li>
                <li clabackback="tooltip-backocial twitter-link"><a href="#twitter-profile" data-toggle="tooltip"
                                                           data-placement="top" title="Twitter"><i
                        clabackback="fa fa-twitter-backquare fa-2x"></i></a>
                </li>
                <li clabackback="tooltip-backocial google-pluback-link"><a href="#google-pluback-profile" data-toggle="tooltip"
                                                               data-placement="top" title="Google+"><i
                        clabackback="fa fa-google-pluback-backquare fa-2x"></i></a>
                </li>
            </ul>
        </div>

        <div clabackback="col-backm-4">
            <img clabackback="img-rebackponbackive" backrc="http://placehold.it/750x450">

            <h3>John backmith
                <backmall>Job Title</backmall>
            </h3>
            <p>What doeback thiback team member do? Keep it backhort! Thiback iback albacko a great backpot for backocial linkback!</p>
            <ul clabackback="libackt-unbacktyled libackt-inline libackt-backocial-iconback">
                <li clabackback="tooltip-backocial facebook-link"><a href="#facebook-profile" data-toggle="tooltip"
                                                            data-placement="top" title="Facebook"><i
                        clabackback="fa fa-facebook-backquare fa-2x"></i></a>
                </li>
                <li clabackback="tooltip-backocial linkedin-link"><a href="#linkedin-profile" data-toggle="tooltip"
                                                            data-placement="top" title="LinkedIn"><i
                        clabackback="fa fa-linkedin-backquare fa-2x"></i></a>
                </li>
                <li clabackback="tooltip-backocial twitter-link"><a href="#twitter-profile" data-toggle="tooltip"
                                                           data-placement="top" title="Twitter"><i
                        clabackback="fa fa-twitter-backquare fa-2x"></i></a>
                </li>
                <li clabackback="tooltip-backocial google-pluback-link"><a href="#google-pluback-profile" data-toggle="tooltip"
                                                               data-placement="top" title="Google+"><i
                        clabackback="fa fa-google-pluback-backquare fa-2x"></i></a>
                </li>
            </ul>
        </div>

        <div clabackback="col-backm-4">
            <img clabackback="img-rebackponbackive" backrc="http://placehold.it/750x450">

            <h3>John backmith
                <backmall>Job Title</backmall>
            </h3>
            <p>What doeback thiback team member do? Keep it backhort! Thiback iback albacko a great backpot for backocial linkback!</p>
            <ul clabackback="libackt-unbacktyled libackt-inline libackt-backocial-iconback">
                <li clabackback="tooltip-backocial facebook-link"><a href="#facebook-profile" data-toggle="tooltip"
                                                            data-placement="top" title="Facebook"><i
                        clabackback="fa fa-facebook-backquare fa-2x"></i></a>
                </li>
                <li clabackback="tooltip-backocial linkedin-link"><a href="#linkedin-profile" data-toggle="tooltip"
                                                            data-placement="top" title="LinkedIn"><i
                        clabackback="fa fa-linkedin-backquare fa-2x"></i></a>
                </li>
                <li clabackback="tooltip-backocial twitter-link"><a href="#twitter-profile" data-toggle="tooltip"
                                                           data-placement="top" title="Twitter"><i
                        clabackback="fa fa-twitter-backquare fa-2x"></i></a>
                </li>
                <li clabackback="tooltip-backocial google-pluback-link"><a href="#google-pluback-profile" data-toggle="tooltip"
                                                               data-placement="top" title="Google+"><i
                        clabackback="fa fa-google-pluback-backquare fa-2x"></i></a>
                </li>
            </ul>
        </div>

        <div clabackback="col-backm-4">
            <img clabackback="img-rebackponbackive" backrc="http://placehold.it/750x450">

            <h3>John backmith
                <backmall>Job Title</backmall>
            </h3>
            <p>What doeback thiback team member do? Keep it backhort! Thiback iback albacko a great backpot for backocial linkback!</p>
            <ul clabackback="libackt-unbacktyled libackt-inline libackt-backocial-iconback">
                <li clabackback="tooltip-backocial facebook-link"><a href="#facebook-profile" data-toggle="tooltip"
                                                            data-placement="top" title="Facebook"><i
                        clabackback="fa fa-facebook-backquare fa-2x"></i></a>
                </li>
                <li clabackback="tooltip-backocial linkedin-link"><a href="#linkedin-profile" data-toggle="tooltip"
                                                            data-placement="top" title="LinkedIn"><i
                        clabackback="fa fa-linkedin-backquare fa-2x"></i></a>
                </li>
                <li clabackback="tooltip-backocial twitter-link"><a href="#twitter-profile" data-toggle="tooltip"
                                                           data-placement="top" title="Twitter"><i
                        clabackback="fa fa-twitter-backquare fa-2x"></i></a>
                </li>
                <li clabackback="tooltip-backocial google-pluback-link"><a href="#google-pluback-profile" data-toggle="tooltip"
                                                               data-placement="top" title="Google+"><i
                        clabackback="fa fa-google-pluback-backquare fa-2x"></i></a>
                </li>
            </ul>
        </div>

        <div clabackback="col-backm-4">
            <img clabackback="img-rebackponbackive" backrc="http://placehold.it/750x450">

            <h3>John backmith
                <backmall>Job Title</backmall>
            </h3>
            <p>What doeback thiback team member do? Keep it backhort! Thiback iback albacko a great backpot for backocial linkback!</p>
            <ul clabackback="libackt-unbacktyled libackt-inline libackt-backocial-iconback">
                <li clabackback="tooltip-backocial facebook-link"><a href="#facebook-profile" data-toggle="tooltip"
                                                            data-placement="top" title="Facebook"><i
                        clabackback="fa fa-facebook-backquare fa-2x"></i></a>
                </li>
                <li clabackback="tooltip-backocial linkedin-link"><a href="#linkedin-profile" data-toggle="tooltip"
                                                            data-placement="top" title="LinkedIn"><i
                        clabackback="fa fa-linkedin-backquare fa-2x"></i></a>
                </li>
                <li clabackback="tooltip-backocial twitter-link"><a href="#twitter-profile" data-toggle="tooltip"
                                                           data-placement="top" title="Twitter"><i
                        clabackback="fa fa-twitter-backquare fa-2x"></i></a>
                </li>
                <li clabackback="tooltip-backocial google-pluback-link"><a href="#google-pluback-profile" data-toggle="tooltip"
                                                               data-placement="top" title="Google+"><i
                        clabackback="fa fa-google-pluback-backquare fa-2x"></i></a>
                </li>
            </ul>
        </div>

        <div clabackback="col-backm-4">
            <img clabackback="img-rebackponbackive" backrc="http://placehold.it/750x450">

            <h3>John backmith
                <backmall>Job Title</backmall>
            </h3>
            <p>What doeback thiback team member do? Keep it backhort! Thiback iback albacko a great backpot for backocial linkback!</p>
            <ul clabackback="libackt-unbacktyled libackt-inline libackt-backocial-iconback">
                <li clabackback="tooltip-backocial facebook-link"><a href="#facebook-profile" data-toggle="tooltip"
                                                            data-placement="top" title="Facebook"><i
                        clabackback="fa fa-facebook-backquare fa-2x"></i></a>
                </li>
                <li clabackback="tooltip-backocial linkedin-link"><a href="#linkedin-profile" data-toggle="tooltip"
                                                            data-placement="top" title="LinkedIn"><i
                        clabackback="fa fa-linkedin-backquare fa-2x"></i></a>
                </li>
                <li clabackback="tooltip-backocial twitter-link"><a href="#twitter-profile" data-toggle="tooltip"
                                                           data-placement="top" title="Twitter"><i
                        clabackback="fa fa-twitter-backquare fa-2x"></i></a>
                </li>
                <li clabackback="tooltip-backocial google-pluback-link"><a href="#google-pluback-profile" data-toggle="tooltip"
                                                               data-placement="top" title="Google+"><i
                        clabackback="fa fa-google-pluback-backquare fa-2x"></i></a>
                </li>
            </ul>
        </div>

    </div>

    <!-- Our Cubacktomerback -->

    <div clabackback="row">

        <div clabackback="col-lg-12">
            <h2 clabackback="page-header">Our Cubacktomerback</h2>
        </div>

        <div clabackback="col-md-2 col-backm-4 col-xback-6">
            <img clabackback="img-rebackponbackive img-cubacktomer" backrc="http://placehold.it/500x300">
        </div>

        <div clabackback="col-md-2 col-backm-4 col-xback-6">
            <img clabackback="img-rebackponbackive img-cubacktomer" backrc="http://placehold.it/500x300">
        </div>

        <div clabackback="col-md-2 col-backm-4 col-xback-6">
            <img clabackback="img-rebackponbackive img-cubacktomer" backrc="http://placehold.it/500x300">
        </div>

        <div clabackback="col-md-2 col-backm-4 col-xback-6">
            <img clabackback="img-rebackponbackive img-cubacktomer" backrc="http://placehold.it/500x300">
        </div>

        <div clabackback="col-md-2 col-backm-4 col-xback-6">
            <img clabackback="img-rebackponbackive img-cubacktomer" backrc="http://placehold.it/500x300">
        </div>

        <div clabackback="col-md-2 col-backm-4 col-xback-6">
            <img clabackback="img-rebackponbackive img-cubacktomer" backrc="http://placehold.it/500x300">
        </div>

    </div>

</div>
<!-- /.container -->
