<nav class="navbar navbar-fixed-top" role="navigation">
    <ng-include src="'includes/header.html'"></ng-include>
</nav>
<section ng-controller="profileInfoCtrl"><div class="ourteam">

    <!-- 2 =================== Joseph B. McFARLAND =================== -->

    <div class="profile-header">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 text-center">
                    <my-customer info="profile2" type="image"></my-customer>
                </div>
                <div class="col-sm-8">
                    <a class="back-link" href="#/our_team/">back to team</a>
                    <h1><my-customer info="profile2" type="nametitle"></my-customer></h1>
                </div>
            </div>
        </div>
    </div>

    <div class="container description">
        <div class="row">
            <div class="col-sm-4">
                <div class="content">
                    <h3>Practice areas</h3>
                    <p>International business transactions</p>
                    <p>Tax law<p>
                    <p>Immigration law</p>
                    <p>Pre-immigration corporate and tax structuring</p>
                    <p>General corporate and contract law</p>
                </div>
                <div class="content">
                    <h3>Admissions</h3>
                    <p>Florida</p>
                    <p>New York</p>
                </div>
                <div class="content">
                    <h3>Education</h3>
                    <p>University Of Florida (LL.M. in Taxation 1992)</p>
                    <p>New York Law School (J.D. 1982)</p>
                    <p>Law Review, Johns Hopkins University, SAIS (School of Advanced International Studies) (M.A. Int’l Economics and Latin American Studies 1976)</p>
                    <p>Princeton University (B.A. History 1974)</p>
                </div>
                <div class="content">
                    <h3>Languages</h3>
                    <p>French</p>
                    <p>German</p>
                    <p>Spanish</p>
                </div>
            </div>

            <div class="col-sm-8">
                <div class="gutter">
                    <div class="content">
                        <h3>Publications</h3>
                        <p>"The Case Management Conference: Tune-Up Needed?" Florida Bar Journal (October 2001).</p>
                        <p>"The Innocent Spouse Rule: Variation on a Theme," Florida Bar Journal (February 1999).</p>
                        <p>"The Medicaid Disability Trust" Co-author with Roger Bernstein, Florida Bar Journal (December 1995).</p>
                        <p>"The U.S. - Canada Income Tax Treaty: The Revised Protocol," Florida Bar Journal (August 1995).</p>
                        <p>"The Qualified Domestic Trust," 7 Florida Journal of International Law 119 (Spring 1992).</p>
                        <p>"Tax Reform Comes to the U.S. Virgin Islands," The International Business Lawyer, (July/August 1988).</p>
                        <p>"Counseling the International Client on Alternative Countries of Residence: Costa Rica, Dominican Republic, Mexico," International Law Quarterly, Florida Bar publication (October 1987).</p>
                    </div>

                    <div class="content">
                        <h3>Member</h3>
                        <p>Chairman, Unlicensed Practice of Law (UPL) Committee (Orlando–9B), Florida Bar (2006 - 2010)</p>
                        <p>Vice-President, German-American Business Council of Tampa Bay (1997–2000)</p>
                        <p>Board Member, French-American Business Council of West Florida (1999-2000)</p>
                        <p>Adjunct Professor. of Law (International Taxation), Stetson University College of Law (1994)</p>
                        <p>Chairman, European Union Subcom., Tampa Bay Int’l Business Council (1994–95)</p>
                        <p>Executive Committee Member, Tampa Bay Int’l Business Council (1987-89), American Immigration Lawyers Association</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div></section>