<nav class="navbar navbar-fixed-top" role="navigation">
    <ng-include src="'includes/header.html'"></ng-include>
</nav>
<section ng-controller="profileInfoCtrl"><div class="ourteam">

    <!-- 01 =================== Lucius SMEJDA =================== -->

    <div class="profile-header">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 text-center">
                <my-customer info="profile1" type="image"></my-customer>
                </div>
                <div class="col-sm-8">
                    <a class="back-link" href="#/our_team/">back to team</a>
                    <h1><my-customer info="profile1" type="nametitle"></my-customer></h1>
                </div>
            </div>
        </div>
    </div>

    <div class="container description">
        <div class="row">

            <div class="col-sm-4">
                <div class="content">
                    <h3>Admissions</h3>
                    <p><strong>USA:</strong> <br>New York <br>Florida <br>Illinois</p>
                    <p><strong>Canada:</strong> <br>Alberta</p>
                    <p>The Supreme Court of the United States</p>
                    <p>The United States Tax Court</p>
                    <p>Numerous other courts</p>
                </div>
                <div class="content">
                    <h3>Education</h3>
                    <p>Northwestern University (B.A., summa cum laude, 1968)</p>
                    <p>Columbia University (J.D., 1972)</p>
                    <p>New York University (LL.M. in Taxation, 1974)</p>
                    <p>The Hague Academy of International Law (Netherlands)</p>
                    <p>The Sorbonne (Paris, France)</p>
                    <p>University of Strasbourg (France)</p>
                </div>
                <div class="content">
                    <h3>International Notary</h3>
                    <p>Florida (Equivalent to Civil Law Notary)</p>
                </div>
                <div class="content">
                    <h3>Languages</h3>
                    <p>English</p>
                    <p>French</p>
                    <p>German</p>
                    <p>basic Spanish</p>
                    <p>basic Russian</p>
                </div>
            </div>

            <div class="col-sm-8">
                <div class="gutter">
                    <h3>Publications</h3>
                    <p>"The Supplemental Register: Does It Fulfill Its Functions Internationally and Domestically?", Trademark Reporter 1972.</p>
                    <p>"The New United States-Canada Income Tax Treaty", International Estate Planning - ABA 1981.</p>
                    <p>"The Proposed Canadian Tax Treaty; Trends and Policies", International Tax Journal 1981.</p>
                    <p>"U.S. Tax Considerations for Foreign Investments in U.S. Portfolio Asset (Stocks, Bonds, Deposits, Commodities)", "Taxation of Foreign Investors", Florida Bar 1981.</p>
                    <p>"Aperçu général des principaux impôts en matière d’Investissement Canadien dans la propriété fonçière Américaine", Canadian Bar Association, (Montreal) 1983.</p>
                    <p>"Notions élémentaires de planification commerciale et fiscale à l’usage d’entreprises françaises désirant s’établir aux Etats-Unis", Chambre Nationale de la Restauration et de l’Hôtellerie 1982.</p>
                    <p>"Major Restrictions on Foreign Investment in Canada", Current Legal Issues in U.S./Canada Trade & Investment, (Florida Bar CLE Manual 1985).</p>
                    <p>"U.S. Taxation of Corporations, Fiscalité Canada – Etats-Unis", Laval University, Canada 1986.</p>
                    <p>"Business Operations in Panama", 1987 BNA Tax Management Portfolio.</p>
                    <p>"Establishing and Managing a Canadian Business in Florida", "Planning Considerations for Canadians Doing Business or Residing in Florida", Quebec Forum 2000.</p>
                    <p>"Structuring Repatriation of Profits, Interest and Dividends", Florida Bar, 2001.</p>
                    <p>"Acquisition & Financing of Real Estate Investments" French Notary Seminar 2002.</p>
                    <p>"Planning Future Repatriations", France-Florida Forum (Paris, 2002).</p>
                    <p>"International Tax Planning", Russian Symposium (St Petersburg, 2003).</p>
                    <p>"Major US Laws & Practices re: International Business & Investments", Barcelona Symposium (Barcelona, 2004).</p>
                    <p>"Estonia – New Europe Gateway?" International Symposium (Miami, 2005).</p>
                    <p>"Investing & Living in Florida: Tax & Legal Solutions", Mondissimo convention (Paris, 2010).</p>
                    <p>« Establishing and Managing a Canadian Business in Florida », Quebec-Florida Forum (Quebec, 2010).</p>
                    <p>« U.S. Non-resident Taxation and Estate Planning », Quebec-Florida Forum (Quebec, 2010).</p>
                    <p>"Acquiring and Managing Florida Real Estate", Forum Florida – Québec, (Fort Lauderdale, 2011).</p>
                    <p>"U.S. International Income and Estate Tax Planning for Canadians" Forum Florida – (Fort Lauderdale, 2011).</p>
                    <p>"Vivre, investir et entreprendre en Floride" Forum Québec – Floride 2012 (Québec, 2012).</p>
                    <p>"Tax Structuring of U.S. Business and Investment Structures for Canadians and Mexicans", "Acquiring and Managing Florida Real Estate for Canadians or Mexicans", Symposium NAFTA, "Investment and Business Track", (Boca Raton, 2015).</p>
                    <p>"Living, Investing or Doing Business in Florida" Seminar NAFTA (Orlando, 2015).</p>

                    <div class="content">
                        <h3>Member</h3>
                        <p>International Bar Association</p>
                        <p>The New York Bar</p>
                        <p>The Florida Bar (Chair, International Law Section, 2004-2005)</p>
                        <p>Canadian and American Bar Associations</p>
                        <p>Alberta Law Society</p>
                        <p>Canadian Tax Foundation</p>
                        <p>International Fiscal Association</p>
                        <p>Phi Beta Kappa</p>
                        <p>James Kent Circle</p>
                        <p>Harlan Fiske Stone</p>
                        <p>U.S. National Association of Civil Law Notaries</p>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div ng-include="'profile-list.html'"></div>
</div></section>
