<nav class="navbar navbar-fixed-top" role="navigation">
    <ng-include src="'includes/header.html'"></ng-include>
</nav>
<section ng-controller="profileInfoCtrl"><div class="ourteam">

    <!-- 6 =================== Susanne LEONE =================== -->
    <!-- http://www.rolfflaw.com/eng/index.html -->

    <div class="profile-header">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 text-center">
                    <my-customer info="profile6" type="image"></my-customer>
                </div>
                <div class="col-sm-8">
                    <a class="back-link" href="#/our_team/">back to team</a>
                    <h1><my-customer info="profile6" type="nametitle"></my-customer></h1>
                </div>
            </div>
        </div>
    </div>

    <div class="container description">
        <div class="row">
            <div class="col-sm-4">
                <div class="content">
                    <h3>Practice areas</h3>
                    <p>International Law</p>
                    <p>Business Law</p>
                    <p>Contractual and Corporate Law</p>
                </div>
                <div class="content">
                    <h3>Admissions</h3>
                    <p>Germany</p>
                    <p>Florida (expected 2017)</p>
                </div>
                <div class="content">
                    <h3>Education</h3>
                    <p>St. Thomas University School of Law, Miami, Florida</p>
                    <p>Candidate for J.D. anticipated May 2017</p>
                    <p>Honors: St. Thomas University School of Law Merit Scholarship, 2016 – Present</p>
                    <p>St. Thomas Legacy Award, Dean’s List Spring 2016</p>
                    <p>University of Augsburg, Germany, Second State Exam (J.D.) May 2014</p>
                </div>
                <div class="content">
                    <h3>Languages</h3>
                    <p>German</p>
                    <p>English</p>
                    <p>French (conversational)</p>
                </div>
            </div>

            <div class="col-sm-8">
                <h3>Experience</h3>
                <p>Lex International Law Firm, P.A., Miami, Florida 12/8/14 - present. Jurist + German Lawyer (International, contracts and corporate law).</p>
                <p>HammersenS, Munich, Germany 09/01/14 – 11/07/14. Lawyer (Business, corporate, employment law, bank and finance, compliance).</p>
                <p>Coane and Associates, PLLC, Miami Beach, Florida Summer 2014. Intern (Employment law and immigration).</p>
                <p>Baur & Klein, P.A., Miami, Florida 01/02/14 – 04/01/14. Referendar (Immigration, corporate, tax, estate and trust, investments, family law and real estate).</p>
                <p>Seitz-Weckbach-Fackler, Augsburg, Germany 07/02/13 – 12/31/13. Referendar (Tax, criminal, familiy, employment, inheritance, corporate, administrative law and litigation).</p>
                <p>Sony Music Entertainment GmbH, Munich, Germany 04/01/13 – 07/01/13. Referendar (Media, copyright, entertainment law and contracts).</p>
            </div>
        </div>
    </div>
</div></section>

