<footer>
    <div class="container">
        <div class="row">
    		<div class="col-sm-12 navigation">
		        <nav>
		        	<ul class="row">
		                <li class="col-sm-2"><a href="#/">Home</a>
		                	<ul>
			                    <li><a href="#/#ourLocations">Our Locations</a></li>
		                	</ul>
		                </li>
		                <li class="col-sm-2"><a href="#/the_firm">The Firm</a></li>
		                <li class="col-sm-8"><a href="#/practice_areas">Practice Areas</a>
		               		<div class="row">
		                		<ul class="col-sm-3">
				                    <li><a href="#/practice_areas#practice01">International Practice</a></li>
				                    <li><a href="#/practice_areas#practice05">Investment &amp; Security</a></li>
				                    <li><a href="#/practice_areas#practice09">Immigration</a></li>
				                </ul>
		                		<ul class="col-sm-3">
				                    <li><a href="#/practice_areas#practice02">Business &amp; Commercial</a></li>
				                    <li><a href="#/practice_areas#practice06">Real Estate</a></li>
				                    <li><a href="#/practice_areas#practice10">International Notarial</a></li>
				                </ul>
		                		<ul class="col-sm-3">
				                    <li><a href="#/practice_areas#practice03">Corporation Structuring</a></li>
				                    <li><a href="#/practice_areas#practice07">Estate Planning</a></li>
			                	</ul>
		                		<ul class="col-sm-3">
				                    <li><a href="#/practice_areas#practice04">Tax Law</a></li>
				                    <li><a href="#/practice_areas#practice08">Government Relations</a></li>
			                	</ul>
			                </div>
		                </li>
		            </ul>
		            <ul class="row border" ng-controller="profileInfoCtrl">
		                <li class="col-sm-4"><a href="#/our_team">Our Team USA</a>
		                	<div class="row">
		                		<div class="col-sm-12">
				                	<div class="row">
		                				<ul class="col-sm-6">
						    				<li><my-customer info="profile1" type="link"></my-customer></li>
						    				<li><my-customer info="profile3" type="link"></my-customer></li>
						    				<li><my-customer info="profile5" type="link"></my-customer></li>
						    				<li><my-customer info="profile7" type="link"></my-customer></li>
										</ul>
		                				<ul class="col-sm-6">
						    				<li><my-customer info="profile2" type="link"></my-customer></li>
						    				<li><my-customer info="profile4" type="link"></my-customer></li>
						    				<li><my-customer info="profile6" type="link"></my-customer></li>
						    				<li><my-customer info="profile8" type="link"></my-customer></li>
										</ul>
									</div>
		                		</div>
		                	</div>
		                </li>
		                <li class="col-sm-4"><a href="#/our_team">Our Team International</a>
							<div class="row">
		                		<div class="col-sm-12">
				                	<div class="row">
		                				<ul class="col-sm-6">
						    				<li><my-customer info="profile9" type="link"></my-customer></li>
						    				<li><my-customer info="profile11" type="link"></my-customer></li>
						    				<li><my-customer info="profile13" type="link"></my-customer></li>
						    				<li><my-customer info="profile15" type="link"></my-customer></li>
										</ul>
		                				<ul class="col-sm-6">
						    				<li><my-customer info="profile10" type="link"></my-customer></li>
						    				<li><my-customer info="profile12" type="link"></my-customer></li>
						    				<li><my-customer info="profile14" type="link"></my-customer></li>
										</ul>
		                			</div>
								</div>
							</div>
		                </li>
		                <li class="col-sm-2"><a href="#/links_events">Links &amp; Events</a></li>
                		<li class="col-sm-2"><a href="#/contact">Contact Us</a></li>
			        </u>
		    	</nav>
    		</div>

    		<div class="clearfix"></div>

	        <div class="col-sm-4 contact">
	            <img class="flag-thumb" src="assets/US_thumb.png">
		    	<div class="content">
			    	<h6>LEX International <c>(USA - Headquarters)</c></h6>
			    	<p><span class="field-name">Tel:</span> (+1) (305) 358-9995</p>
			    	<p><span class="field-name">Fax:</span> (+1) (305) 358-9997</p>
		    	</div>
    		</div>

    		<div class="clearfix visible-xs-block"></div>

            <div class="col-sm-4 contact border">
	            <img class="flag-thumb" src="assets/FR_thumb.png">
		    	<div class="content">
			    	<h6>LEX International <c>(Europe - Paris, FR)</c></h6>
			    	<p><span class="field-name">Tel:</span> (+33-1) 5643-3940</p>
			    	<p><span class="field-name">Fax:</span> (+33-1) 5643-3943</p>
 		    	</div>
   			</div>

    		<div class="clearfix visible-xs-block"></div>

            <div class="col-sm-4 contact border">
            	<img class="flag-thumb" src="assets/@_thumb.png">
		    	<div class="content">
		    		<h6>Email:</h6>
		    		<p><c style="word-break: keep-all; white-space: nowrap;">lex@lex-international.com</c></p>
		    		<p>lex1usa@aol.com</p>
		    	</div>
		    </div>

		    <div class="clearfix"></div>

		    <div class="col-sm-12 text-left copyright">
                <div ng-app="ngAnimate">
					<div class="disclaimer text-left" ng-class="myVar">
    					<div class="header hidden-xs" ng-click="myVar=''">
		    				<h3>Disclaimer and Credits <span>x</span></h3>
		    			</div>
		    			<div class="credits-content hidden-xs">
							<h4>Credits</h4>
							<p><a href="http://www.alexlais.com" target="_blank">Webdesign by&hellip;</a></p>
							<p><a href="http://www.pixabay.com" target="_blank">Free stock images by&hellip;</a></p>
						</div>
		    			<div class="disclaimer-content">
							<h4>Legal Disclaimer</h4>
							<div>
								<p>The information you obtain at our site is neither legal advice nor solicitation. While we would like to hear from you, please bear in mind that merely contacting Lex International Law Firm will not establish a lawyer-client relationship.</p>
								<p>You should not send any confidential information to us until a formal retainer agreement has been executed and after an appropriate lawyer-client relationship has been established.</p>
								<p>The hiring of a lawyer is an important decision that should not be based solely on advertisements nor on websites.</p>
								<p>For all confidential communications, we recommend using oral, fax or letter discussions, not e-mail, which is not protected by legal confidentiality rules.</p>
							</div>
						</div>
		    			<div class="credits-content visible-xs-block">
							<h4>Credits</h4>
							<p><a href="http://www.alexlais.com">Webdesign by&hellip;</a></p>
							<p><a href="http://www.pixabay.com">Free stock images by&hellip;</a></p>
						</div>
					</div>
		        </div> <!-- /ng-animate -->
		        <p>Copyright &copy; 2009-2017 <c>LEX International Law Firm.</c> <c>All Rights Reserved.</c> <c class="hidden-xs"><span class="link" ng-click="myVar='open'">Disclaimer &amp; Credits</span></c></p>
			</div>
		</div>
    </div>
</footer>